@property --level-progress {
    initial-value: 0;
    inherits: false;
    syntax: '<number>';
}

#st-level {
    position: fixed;
    top: 20px;
    right: 16px;
    z-index: 100000;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    transition: scale 200ms;
}

#st-level:focus-visible,
#st-level:hover {
    scale: 1.1;
}

#st-level:active {
    scale: .9;
}

#st-level:before {
    content: attr(data-level);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    margin-right: -20px;
    padding-bottom: 4px;
    color: var(--st-foreground-accent);
    background: var(--st-background-secondary);
    border: 2px solid var(--st-accent-primary);
    border-radius: 50%;
    font: 600 22px var(--st-font-family-primary);
    z-index: 1;
}

#st-progress,
#st-gm-card-progress {
    width: calc(clamp(75px, 10vw, 300px) + 20px);
    box-sizing: border-box;
    height: 20px;
    background: var(--st-highlight-primary);
    outline: var(--st-border);
    border-radius: var(--st-border-radius);
}

#st-progress-filled,
#st-gm-card-progress-filled {
    width: calc(var(--level-progress) * 100% - 20px);
    height: 100%;
    padding-left: 20px;
    box-sizing: content-box;
    background: linear-gradient(to right, var(--st-accent-secondary), var(--st-accent-primary));
    border-radius: var(--st-border-radius) var(--st-border-radius);
    transition: --level-progress 2000ms ease-in-out;
}

#st-gm[open] {
    display: flex;
    flex-direction: column;
}

#st-gm-subtitle {
    margin-bottom: 20px;
}

#st-gm-close {
    position: absolute;
    top: 32px;
    right: 24px;
}

#st-gm-wrap {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

#st-gm-card {
    width: 500px;
    max-height: max-content;
    padding: 32px;
    background: var(--st-background-secondary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    box-shadow: 0 0 16px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-gm[open] #st-gm-card {
    animation: floatDown 500ms;
}

#st-gm-card-subtitle {
    color: var(--st-foreground-insignificant);
}

#st-gm-card-level {
    margin-inline: auto;
    margin-block: 16px;
    margin-bottom: 50px;
    width: 160px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--st-foreground-accent);
    background: var(--st-background-secondary);
    border: 2px solid var(--st-accent-primary);
    border-radius: 50%;
    font: 600 50px var(--st-font-family-primary);
    z-index: 1;
}

#st-gm-card-level:before {
    content: 'NIVEAU\A';
    white-space: pre-wrap;
    font-size: 14px;
}

#st-gm-card-progress {
    position: relative;
    width: 100%;
    height: 25px;
}

#st-gm-card-progress:before {
    content: attr(data-points-progress) ' /  ' attr(data-points-required) ' punten';
    position: absolute;
    top: -28px;
    left: 0;
    font: 14px var(--st-font-family-secondary);
    opacity: .7;
}

#st-gm-card-progress:after {
    content: 'nog ' attr(data-points-remaining) ' punten tot niveau ' attr(data-level-next);
    position: absolute;
    top: -28px;
    right: 0;
    font: 14px var(--st-font-family-secondary);
    opacity: .7;
}

#st-gm-card-progress-filled {
    width: calc(var(--level-progress) * 100%);
    padding-left: 0;
}

#st-gm-breakdown {
    width: 350px;
    place-self: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    font: 14px var(--st-font-family-secondary);
}

#st-gm[open] #st-gm-breakdown {
    animation: fadeIn 500ms 300ms backwards;
}

#st-gm-breakdown:before {
    content: "Uitsplitsing punten\A";
    white-space: pre-wrap;
    font: 600 16px/32px var(--st-font-family-primary);
}

#st-gm-breakdown:after {
    content: "Klik op een item voor details.";
    position: absolute;
    top: 8px;
    right: 0;
    font: 12px var(--st-font-family-secondary);
    opacity: .4;
}

#st-gm-breakdown div {
    position: relative;
    font-weight: normal;
}

#st-gm-breakdown>div {
    max-height: 23px;
    padding-inline: 12px;
    margin-inline: -12px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: var(--st-border-radius);
    transition: max-height 200ms, padding 200ms, margin 200ms, border 200ms, background 200ms;
}

#st-gm-breakdown>div.expand {
    max-height: 250px;
    padding-block: 12px;
    margin-block: 4px;
    border: var(--st-border);
    background: var(--st-background-secondary);
}

#st-gm-breakdown>div>div {
    margin-block: 2px;
}


#st-gm-breakdown>div>div:first-child {
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
}

#st-gm-breakdown>div>div:last-child {
    margin-top: 8px;
}

#st-gm-breakdown>div:last-child {
    max-height: 32px;
    margin-top: 8px;
    margin-inline: 0;
    padding-inline: 0;
    font: 600 16px var(--st-font-family-primary);
}

#st-gm-breakdown>div:last-child:before,
#st-gm-breakdown>div:last-child:after {
    font: 600 16px var(--st-font-family-primary);
}

#st-gm-breakdown div[data-value]:before {
    content: attr(data-value);
    position: absolute;
    right: 17px;
    font-weight: 600;
    font: 14px var(--st-font-family-secondary);
}

#st-gm-breakdown div[data-value]:after {
    content: 'pt';
    position: absolute;
    right: 0;
    top: 0;
    font: 14px var(--st-font-family-secondary);
}

#st-gm-breakdown div[data-value='0'] {
    color: var(--st-foreground-insignificant);
}

#st-gm-breakdown div[data-value^='-']:before,
#st-gm-breakdown div[data-value^='-']:after {
    color: var(--st-accent-warn);
}

#st-start-widget-wrapped {
    padding: 32px 118px 16px;
    background-image: linear-gradient(35deg, var(--st-accent-primary), var(--st-accent-secondary));
    color: var(--st-contrast-accent);
    font: 500 22px/26px var(--st-font-family-primary);
    text-align: left;
    cursor: pointer;
    transition: filter 200ms;
}

#st-start-widget-wrapped:hover {
    filter: brightness(var(--st-hover-brightness));
    transition: filter 0;
}

#st-start-widget-wrapped:before {
    content: 'ïŠ';
    position: absolute;
    left: 32px;
    top: 50%;
    translate: 0 -50%;
    background-image: linear-gradient(35deg, #ffffff, #7cc4ff9c);
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
    font: 600 55px 'Font Awesome 6 Pro';
}

#st-start-widget-wrapped:after {
    content: "Bekijk nu jouw";
    position: absolute;
    top: 14px;
    left: 118px;
    font: 14px var(--st-font-family-secondary);
}

#st-wrapped {
    background-image: linear-gradient(35deg, #080808, #222);
    overflow-y: scroll;
}

#st-wrapped[open] {
    animation: 800ms both opacityIn;
}

#st-wrapped *[data-hide=true] {
    opacity: 0;
    pointer-events: none;
}

#st-wrapped *[data-hide=false] {
    animation: 800ms 500ms both floatUp;
}

#st-wrapped-title {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 2;
    text-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    transition: opacity 300ms;
}

#st-wrapped-button-wrapper {
    position: fixed;
    top: 32px;
    right: 32px;
    gap: 16px;
    z-index: 2;
}

#st-wrapped-button-wrapper>* {
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

.st-wrapped-section {
    height: 100svh;
}

#st-wrapped .st-metric-enormous {
    font: 700 12svh var(--st-font-family-primary);
}

#st-wrapped .st-metric-enormous-sub {
    font: 700 3svh var(--st-font-family-secondary);
    text-transform: uppercase;
}

#st-wrapped .st-metric-huge {
    font: 700 9svh var(--st-font-family-primary);
}

#st-wrapped .st-metric-huge-sub {
    font: 700 1.75svh var(--st-font-family-secondary);
    text-transform: uppercase;
}

#st-wrapped .st-metric-large {
    font: 700 7.5svh var(--st-font-family-primary);
}

#st-wrapped .st-metric-large-sub {
    font: 600 1.625svh var(--st-font-family-secondary);
    text-transform: uppercase;
}

#st-wrapped .st-metric-medium {
    font: 700 6.5svh var(--st-font-family-primary);
}

#st-wrapped .st-metric-medium-sub {
    font: 600 1.5svh var(--st-font-family-secondary);
}

#st-wrapped .st-metric-small {
    font: 700 5.5svh var(--st-font-family-primary);
}

#st-wrapped .st-metric-small-sub {
    font: 500 1.475svh var(--st-font-family-secondary);
}

#st-wrapped .st-metric-tiny {
    font: 700 4.5svh var(--st-font-family-primary);
}

#st-wrapped .st-metric-tiny-sub {
    font: 500 1.25svh var(--st-font-family-secondary);
}

#st-wrapped em {
    font-style: normal;
    background-image: linear-gradient(35deg, var(--st-foreground-accent), #4c95d1);
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
}

#st-wrapped-1 {
    padding-block: 64px;
}

#st-wrapped-1-wrapper {
    position: sticky;
    top: 50%;
    left: 50%;
    translate: 0 -50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#st-wrapped-1>* {
    opacity: 1;
    transition: opacity 200ms;
}

#st-wrapped-1-title[data-transition=true],
#st-wrapped-1-subtitle[data-transition=true] {
    opacity: 0;
}

#st-wrapped-1-title {
    font: 600 40px var(--st-font-family-primary);
    transition: opacity 300ms;
}

#st-wrapped-1-subtitle {
    font: 500 28px var(--st-font-family-primary);
    transition: opacity 300ms;
}

#st-wrapped-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    justify-content: stretch;
}

#st-wrapped-2>* {
    height: 40svh;
    position: relative;
    border-radius: 16px;
    border: var(--st-border);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-wrapped-2-lessons {
    background-image: linear-gradient(45deg, #4d27b5, #2c37d3);
}

#st-wrapped-2-absences {
    background-image: linear-gradient(45deg, #910000, #d36b2c);
}

#st-wrapped-2-grades {
    grid-row: span 2;
    height: 80svh;
    background-image: linear-gradient(45deg, #1f774b, #53993e);
}

#st-wrapped-2-assignments {
    background-image: linear-gradient(45deg, #3276b3, #20a199);
}

#st-wrapped-2-lessons-a,
#st-wrapped-2-absences-a,
#st-wrapped-2-assignments-a {
    position: absolute;
    top: 75px;
    left: 50%;
    translate: calc(-50% - 10px);
    width: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    rotate: -15deg;
}

#st-wrapped-2-lessons-b,
#st-wrapped-2-absences-b,
#st-wrapped-2-grades-b {
    position: absolute;
    bottom: 24px;
    left: 24px;

    display: flex;
    flex-direction: column;
}

#st-wrapped-2-absences-c {
    position: absolute;
    bottom: 24px;
    right: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#st-wrapped-2-grades-a {
    position: absolute;
    top: 24px;
    right: 24px;
    width: max-content;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#st-wrapped-2-assignments-b {
    position: absolute;
    bottom: 48px;
    left: 50%;
    translate: -50%;

    display: flex;
    gap: 32px;
}

#st-wrapped-2-assignments-b>span {
    position: relative;
    width: 64px;
    text-align: center;
}

#st-wrapped-2-assignments-b>span:after {
    content: attr(data-desc);
    position: absolute;
    bottom: -2svh;
    left: 50%;
    translate: -50%;
    width: max-content;
    font: 500 1.25svh var(--st-font-family-secondary);
}

#st-wrapped-2-assignments-b>span:not(:first-child):before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    translate: 0 -50%;
    width: 3px;
    height: 3px;
    background-color: #ffffff60;
    border-radius: 50%;
}

#st-wrapped-2-grades-chart {
    position: absolute;
    bottom: 20%;
    left: 24px;
    right: 24px;
    --size: 20%;
    --st-highlight-primary: #ffffff20;

    background-image:
        linear-gradient(to bottom, transparent calc(100% - 1px), #ffffff20 1px),
        linear-gradient(to bottom, transparent calc(50% - 0.5px), #ff444460 1px, transparent calc(50% + 0.5px));
    background-size: calc((100% / 9) + (1px / 9)) calc((100% / 9) - (1px / 9)), 100% 100%;
    background-position: 0 1px, 0 0;
}

#st-wrapped-2-grades-chart>.st-line-chart-col {
    --hue-rotate: 0 !important;
    --color: #ffffffd0;
}

#st-wrapped-2-grades-promo {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 35%;

    font: 600 16px var(--st-font-family-secondary);
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
}