#st-cf-cl:not([open]) {
    display: none;
}

#st-cf-cl[open] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999998;
    display: grid;
    grid-template:
        'title buttons aside' auto
        'subtitle buttons aside' auto
        '. . aside' 1fr
        / 1fr auto 440px;
    column-gap: 16px;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 0;
    padding-bottom: 0;
}

#st-cf-cl-title {
    grid-area: title;
}

#st-cf-cl-subtitle {
    grid-area: subtitle;
}

#st-cf-cl-buttons {
    grid-area: buttons;
    display: flex;
    gap: 8px;
}

#st-cf-cl-sidebar {
    grid-area: aside;
    display: grid;
    grid-template: 'added' 1fr 'averages' auto 'prediction' auto / 1fr;
    margin-top: -40px;
    width: 440px;
    overflow: hidden;
    font-size: 14px;
    gap: 16px;
    padding: 40px 16px 0;
    background-color: var(--st-background-secondary);
    border-left: var(--st-border);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-cf-cl-added {
    grid-area: added;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: hidden;
    overflow-x: visible;
    flex-direction: column;
    gap: 16px;
    margin-inline: -16px;
}

#st-cf-cl-added:before {
    content: 'Toegevoegde cijfers (' attr(data-amount) ')';
    display: inline-block;
    font: 600 16px var(--st-font-family-primary);
    padding-inline: 16px;
}

#st-cf-cl-added[data-amount="0"]:before {
    content: 'Toegevoegde cijfers';
}

#st-cf-cl-added-list {
    overflow-y: auto;
}

#st-cf-cl-added-list:empty:after {
    content: "Er zijn nog geen cijfers toegevoegd aan de berekening.\AVoeg cijfers toe vanuit het overzicht door erop te klikken\Aof voer hieronder je eigen cijfers in.";
    white-space: pre;
    display: inline-block;
    padding-inline: 16px;
    color: var(--st-foreground-insignificant);
    font: 600 14px/22px var(--st-font-family-secondary);
}

.st-cf-cl-added-element {
    position: relative;
    display: block;
    height: 27px;
    padding-block: 4px;
    padding-inline: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 14px;
    transition: color 200ms, background-color 200ms, padding 200ms;
    animation: gradeAdd 200ms 200ms ease-out both;
}

.st-cf-cl-added-element[data-insufficient=true] {
    color: var(--st-accent-warn);
}

.st-cf-cl-added-element[data-type=manual] {
    animation: gradeAdd 200ms ease-out both;
}

.st-cf-cl-added-element.remove {
    animation: gradeRemove 100ms ease-in;
    animation-fill-mode: forwards;
}

.st-cf-cl-added-element:hover {
    background-color: var(--st-highlight-warn);
    padding-right: 110px;
}

.st-cf-cl-added-element:before,
.st-cf-cl-added-element:after {
    position: absolute;
    top: 50%;
    translate: 100px -50%;
    color: var(--st-foreground-primary);
    font-weight: bold;
    transition: translate 200ms;
}

.st-cf-cl-added-element:before {
    right: 36px;
    content: 'Wissen';
}

.st-cf-cl-added-element:after {
    right: 16px;
    content: '';
    font-family: 'Font Awesome 6 Pro';
}

.st-cf-cl-added-element:hover:before,
.st-cf-cl-added-element:hover:after {
    translate: 0 -50%;
}

#st-cf-cl-custom-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-inline: 16px;
}

#st-cf-cl-custom-buttons>* {
    flex-grow: 1;
}

#st-cf-cl-averages {
    grid-area: averages;
    display: flex;
    gap: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    border-top: var(--st-border);
}

#st-cf-cl-averages>div {
    color: var(--st-foreground-insignificant);
}

#st-cf-cl-averages>#st-cf-cl-mean {
    color: var(--st-foreground-primary);
}

#st-cf-cl-prediction {
    grid-area: prediction;
    display: grid;
    grid-template:
        'title label' auto
        'info label' 35px
        'canvas canvas' auto;
    gap: 8px;
    padding-top: 12px;
    border-top: var(--st-border);
}

#st-cf-cl-prediction:before {
    grid-area: title;
    content: 'Vooruitkijken';
    display: inline-block;
    font: 600 16px var(--st-font-family-primary);
}

#st-cf-cl-future-weight-label {
    grid-area: label;
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font: 12px var(--st-font-family-secondary);
}

#st-cf-cl-future-desc {
    grid-area: info;
    font-size: 12px;
    font-weight: normal;
    transition: color 150ms;
}

#st-cf-cl-canvas {
    grid-area: canvas;
    position: relative;
    width: calc(100% + 32px);
    height: 230px;
    margin-inline: -16px;
    border-top: var(--st-border);
    background-image:
        linear-gradient(to right, transparent calc(100% - 1px), var(--st-border-color) 1px),
        linear-gradient(to bottom, transparent calc(100% - 1px), var(--st-border-color) 1px),
        linear-gradient(to right, transparent calc(50% - 0.5px), var(--st-accent-warn) 1px, transparent calc(50% + 0.5px)),
        linear-gradient(to bottom, transparent calc(50% - 0.5px), var(--st-accent-warn) 1px, transparent calc(50% + 0.5px));
    background-size:
        calc((100% / 9) + (1px / 9)) calc((100% / 9) + (1px / 9)),
        calc((100% / 9) + (1px / 9)) calc((100% / 9) + (1px / 9)),
        100% 100%,
        100% 100%;
    opacity: 1;
    transition: opacity 200ms;
}

#st-cf-cl-canvas[data-irrelevant=true] {
    opacity: 0.5;
}

#st-cf-cl-canvas[data-irrelevant=true]>* {
    opacity: 0 !important;
}

#st-cf-cl-canvas:after {
    content: "Geen cijfers in berekening";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: var(--st-foreground-primary);
    font: 600 14px/22px var(--st-font-family-secondary);
    text-align: center;
    opacity: 0;
    transition: opacity 200ms;
}

#st-cf-cl-canvas[data-irrelevant=true]:after {
    opacity: 1;
}

@property --min-grade {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --max-grade {
    syntax: "<number>";
    inherits: false;
    initial-value: 10;
}

@property --grade {
    syntax: "<number>";
    inherits: false;
    initial-value: 5.5;
}

#st-cf-cl-canvas-line {
    --min-grade: 1;
    --max-grade: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(((-1/9) * var(--max-grade) + (10/9)) * 100%);
    bottom: calc(((1/9) * var(--min-grade) + (-1/9)) * 100%);
    min-height: 4px;
    background-image: linear-gradient(to bottom right, transparent calc(50% - 2px), var(--st-foreground-primary), transparent calc(50% + 2px));
    opacity: 1;
    transition: --min-grade 200ms, --max-grade 200ms, opacity 200ms;
}

#st-cf-cl-canvas-line:not([data-min-grade=NaN]):before,
#st-cf-cl-canvas-line:not([data-max-grade=NaN]):after {
    position: absolute;
    color: var(--st-foreground-primary);
    font: bold 12px var(--st-font-family-secondary);
    opacity: 0.4;
    transition: opacity 200ms, color 200ms;
}

#st-cf-cl-canvas-line:not([data-min-grade=NaN]):before {
    content: attr(data-min-grade);
    bottom: -20px;
    left: 6px;
}

#st-cf-cl-canvas-line:not([data-max-grade=NaN]):after {
    content: attr(data-max-grade);
    top: -20px;
    right: 6px;
}

#st-cf-cl-canvas-line[data-min-grade-insufficient=true]:not([data-min-grade=NaN]):before,
#st-cf-cl-canvas-line[data-max-grade-insufficient=true]:not([data-max-grade=NaN]):after {
    color: var(--st-accent-warn);
    opacity: 0.6;
}

#st-cf-cl-canvas-mean {
    position: absolute;
    width: 100%;
    top: calc(((-1/9) * var(--grade) + (10/9)) * 100%);
    border-top: 1px solid var(--st-foreground-accent);
    opacity: 1;
    transition: --grade 200ms, opacity 200ms;
}

#st-cf-cl-canvas-mean:not([data-grade=NaN]):after {
    content: attr(data-grade);
    position: absolute;
    top: -20px;
    left: 6px;
    color: var(--st-foreground-accent);
    font: bold 12px var(--st-font-family-secondary);
    opacity: 0.6;
    transition: opacity 200ms;
}

#st-cf-cl-canvas:hover #st-cf-cl-canvas-mean {
    opacity: .5;
}

#st-cf-cl-canvas:hover #st-cf-cl-canvas-line:before,
#st-cf-cl-canvas:hover #st-cf-cl-canvas-line:after,
#st-cf-cl-canvas:hover #st-cf-cl-canvas-mean:after {
    opacity: 0;
}

#st-cf-cl-canvas-y[data-grade] {
    position: absolute;
    width: 100%;
    top: calc(((-1/9) * var(--grade) + (10/9)) * 100%);
    translate: 0 -1px;
    border-top: 2px solid var(--st-foreground-accent);
    opacity: 0;
    transition: opacity 200ms;
}

#st-cf-cl-canvas-y[data-grade]:after {
    content: attr(data-grade);
    position: absolute;
    top: -20px;
    left: 6px;
    color: var(--st-foreground-accent);
    font: bold 12px var(--st-font-family-secondary);
    opacity: 0.8;
    transition: opacity 200ms;
}

#st-cf-cl-canvas-x[data-grade] {
    position: absolute;
    height: 100%;
    left: calc(((1/9) * var(--grade) + (-1/9)) * 100%);
    translate: -1px 0;
    border-left: 2px solid var(--st-foreground-accent);
    opacity: 0;
    transition: opacity 200ms;
}

#st-cf-cl-canvas:hover #st-cf-cl-canvas-x,
#st-cf-cl-canvas:hover #st-cf-cl-canvas-y {
    opacity: 1;
}

#st-cf-cl-averages>div.insufficient {
    color: var(--st-accent-warn) !important;
}

#st-cf-cl-open {
    position: absolute;
    top: 35px;
    right: 28px;
    z-index: 99999;
}

#st-cf-bk {
    position: absolute;
    top: 35px;
    right: 200px;
}

#st-cf-bk-modal-close {
    position: absolute;
    top: 35px;
    right: 28px;
}

#st-cf-bk-modal {
    padding-block: 64px;
    padding-inline: 56px;
}

#st-cf-bk-modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: max-content;
    translate: -50% -50%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 64px;
}

#st-cf-bk-modal-wrapper .st-tile {
    width: 100%;
}

#st-cf-bk-modal-wrapper .st-list>button {
    text-align: left;
}

#st-cf-bk-aside {
    background-color: var(--st-background-secondary);
    padding: 0 12px;
    font: 12px var(--st-font-family-secondary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
}

#st-cf-bk-aside:before {
    content: 'Details\A';
    white-space: pre-wrap;
    font: var(--st-font-primary);
    margin-bottom: -24px;
}

#st-cf-sc {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    width: 294px;
    bottom: 24px;
    top: 195px;
    right: 16px;
    padding: 0 12px;
    background: var(--st-background-secondary);
    border-radius: 0 0 var(--st-border-radius) var(--st-border-radius);
    border: var(--st-border);
    border-top: none;
    font: 12px var(--st-font-family-secondary);
    overflow-y: auto;
    z-index: 999;
}

#st-cf-sc.small {
    top: 425px;
    border-top: var(--st-border);
}

#st-cf-sc.empty>#st-cf-sc-averages-container,
#st-cf-sc.empty>#st-cf-sc-grades-container,
#st-cf-sc.not-ready>#st-cf-sc-averages-container,
#st-cf-sc.not-ready>#st-cf-sc-grades-container {
    visibility: hidden;
}

#st-cf-sc.empty:after {
    content: 'Er zijn geen cijfers die voldoen aan de criteria.';
    position: absolute;
    top: 40px;
}

#st-cf-sc.not-ready:after {
    content: 'Cijfers worden verzameld. Een ogenblik geduld...';
    position: absolute;
    top: 40px;
}

#st-cf-sc:before {
    content: 'Statistieken\A';
    white-space: pre-wrap;
    font: var(--st-font-primary);
    margin-bottom: -24px;
}

#st-cf-sc>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#st-cf-sc-tab>a {
    transition: opacity 200ms;
}

#st-cf-sc-tab:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    translate: 28px;
    overflow: visible;
    font-family: 'Font Awesome 6 Pro';
    font-weight: 600;
    font-size: 11px;
    color: var(--st-foreground-accent);
    text-shadow: none;
}

#st-cf-sc-tab[data-loading=true]>a {
    opacity: .2;
}

#st-cf-sc-tab[data-loading=true]:before {
    top: 50%;
    translate: -50% -50%;
    content: '';
    font-size: 20px;
    animation: rotation 1s infinite linear;
}

#st-cf-sc>#st-cf-sc-filter-container {
    margin-top: auto;
    margin-bottom: 12px;
    border-top: var(--st-border);
}

#st-cf-sc-year-filter-wrapper:before {
    content: 'Filteren op leerjaar\A';
    white-space: pre-wrap;
    font: var(--st-font-primary);
    margin-bottom: -10px;
}

#st-cf-sc-row-filter-wrapper:before {
    content: 'Filteren op vak\A';
    white-space: pre-wrap;
    font: var(--st-font-primary);
    margin-bottom: -10px;
}

#st-cf-sc-averages-container>div,
#st-cf-bk-i-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

#st-cf-sc-averages-container>div>div,
#st-cf-bk-i-wrapper>div {
    color: var(--st-foreground-insignificant);
}

#st-cf-sc>#st-cf-sc-grades-container {
    position: relative;
    flex-direction: row;
    align-items: end;
    gap: 2px;
    padding-top: 34px;
    margin-bottom: 16px;
    min-height: 150px;
}

#st-cf-sc-grades-container:before {
    position: absolute;
    top: 0;
    content: 'Histogram (afgeronde behaalde cijfers)\A';
    white-space: pre-wrap;
    font: 12px var(--st-font-family-secondary);
}

#st-cf-sc-grades-container>div {
    background: var(--st-accent-ok);
    height: 100px;
    width: 100%;
    border-radius: var(--st-border-radius) var(--st-border-radius) 0 0;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: max-height 200ms, min-height 200ms;
}

#st-cf-sc-grades-container>div:nth-child(-n+5) {
    background: var(--st-accent-warn);
}

#st-cf-sc-grades-container>div:before {
    white-space: pre-wrap;
    content: attr(data-times) '×';
    max-width: 23.6px;
    translate: 0 -18px;
}

#st-cf-sc-grades-container>div:hover:before {
    content: attr(data-percentage) '%';
}

#st-cf-sc-grades-container>div:after {
    content: attr(data-grade);
    position: absolute;
    bottom: -19px;
    width: 23.6px;
    color: var(--st-foreground-insignificant);
}

#st-cf-sc-year-filter-wrapper,
#st-cf-sc-row-filter-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#st-cf-sc-year-filter-wrapper>label {
    position: relative;
    height: 25px;
    padding: 4px 10px 4px 30px;
    border-radius: var(--st-border-radius);
    cursor: pointer;
}

#st-cf-sc-year-filter-wrapper>input:checked+label {
    background-color: var(--st-highlight-primary);
}

#st-cf-sc-year-filter-wrapper>label:before {
    content: '';
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    color: var(--st-foreground-primary);
    background: var(--st-background-secondary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    font: 16px 'Font Awesome 6 Pro';
    text-align: center;
    padding-top: 3px;
}

#st-cf-sc-year-filter-wrapper>input:checked+label:before {
    content: '';
}

#st-cf-sc-year-filter-wrapper>label[data-loading=true]:before {
    content: '' !important;
    border: none;
    background: none;
    padding: 4px 2px 2px 2px;
    translate: 1px;
    animation: rotation 1s infinite linear;
}

#st-cf-sc-row-filter {
    background: var(--st-highlight-primary);
    border: none;
    position: relative;
    padding: 4px 10px 4px 10px;
    border-radius: var(--st-border-radius);
    font: 11px var(--st-font-family-secondary);
    word-wrap: break-word;
}

#st-cf-sc-row-filter-include {
    position: absolute;
    top: 10px;
    right: 44px;
}

#st-cf-sc-row-filter-exclude {
    position: absolute;
    top: 10px;
    right: 0;
}

aside.st-appear-top {
    z-index: 999999;
    background: var(--st-background-secondary);
}

.st-cf-ghost {
    position: absolute;
    width: 40px;
    height: 40px;
    border: var(--st-border);
    text-align: center;
    font: bold 12px/40px var(--st-font-family-secondary);
    overflow: hidden;
    pointer-events: none;
    scale: 1.2;
    z-index: 10000000;
    animation: ghost-create 100ms both;
    transition: top 300ms ease-in, right 300ms ease-in;
}

.st-cf-ghost-moving {
    animation: ghost-destroy 100ms both;
    animation-delay: 300ms;
}

@keyframes gradeAdd {
    0% {
        opacity: 0;
        translate: -370px;
    }
}

@keyframes gradeRemove {
    0% {
        opacity: 1;
        translate: 0;
        max-height: 27px;
    }

    100% {
        opacity: 0;
        translate: -250px;
        max-height: 0;
        padding: 0;
    }
}

@keyframes ghost-create {
    0% {
        scale: 1;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        scale: 1.2;
    }
}

@keyframes ghost-destroy {
    100% {
        scale: 0.75;
        opacity: 0;
    }
}