@property --bar-fill-amount {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
}

:root {
    --st-linear-gradient-study-tools: linear-gradient(300deg, hsl(209, 40%, 29%), hsl(209, 36%, 30%));
}

body,
div.loading-overlay {
    background: var(--st-background-primary) !important
}

.st-overlay[open] {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    background: var(--st-background-overlay);
    color: var(--st-foreground-primary);
    margin: 0;
    padding: 32px 24px 16px 24px;
    border: none;
    animation: fadeIn 200ms;
}

.st-overlay::backdrop {
    background: none;
}

.st-banner-ad {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    margin-top: 16px;
    place-content: center;
    place-items: center;
    gap: 24px;
    background: var(--st-linear-gradient-study-tools);
    color: #fff;
    font: 16px var(--st-font-family-secondary);
    z-index: 9999;
    animation: floatUp 200ms both;
}

.st-banner-ad.hide {
    animation: floatDownOut 200ms both;
}

.st-banner-ad>.st-button {
    padding: 6px 16px;
    background: #fff;
    color: hsl(209, 36%, 30%);
}

.st-shortcut-icon {
    font: 20px 'Font Awesome 6 Pro';
}

.st-title {
    display: block;
    color: var(--st-foreground-accent);
    font: 700 28px / 2rem arboria, sans-serif;
    margin-bottom: 6px;
}

.st-title:after {
    content: ".";
    display: inline-block;
    width: 3px;
    color: #ff8205;
}

.st-subtitle {
    font: 14px var(--st-font-family-secondary) !important;
    color: var(--st-foreground-primary);
}

#st-snackbars:has(div.open) {
    background: radial-gradient(at bottom left, rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), 0.75) 0%, rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), 0) 70%) !important;
}

#st-snackbars>div {
    font: 16px arboria, sans-serif !important;
    background-color: var(--st-background-secondary) !important;
    color: var(--st-foreground-primary) !important;
    border: var(--st-border) !important;
    border-radius: var(--st-border-radius) !important;
    box-shadow: 0 0 16px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha)) !important;
}

.st-button-wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;
}

.st-button {
    height: 32px;
    padding: 6px 16px;
    background: var(--st-accent-primary);
    font-family: var(--st-font-family-secondary);
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: calc(var(--st-border-radius) * 0.75);
    color: var(--st-contrast-accent);
    cursor: pointer;
    user-select: none;
    transition: filter 200ms, transform 200ms, border 200ms, color 200ms, background-color 200ms, opacity 100ms;
}

.st-button.small {
    padding: 2px 10px;
    font-size: 12px;
    height: 24px;
}

.st-button.secondary {
    background: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border: 1px solid var(--st-accent-primary);
}

.st-button.tertiary {
    background: var(--st-background-secondary);
    color: var(--st-foreground-insignificant);
    outline: none;
}

.st-button.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--st-foreground-primary);
    font: 500 18px 'Font Awesome 6 Pro';
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    padding: 0;
    border-radius: 50%;
    transition: color 200ms, background-color 200ms, transform 200ms, opacity 200ms;
}

.st-button.icon:hover {
    color: var(--st-foreground-accent);
    filter: none;
}

.st-button.icon:active {
    background-color: var(--st-highlight-primary);
    color: var(--st-foreground-accent);
    filter: none;
}

.st-button.icon[data-icon]:before {
    margin-right: 0;
}

.st-segmented-control {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline: 2px;
    height: 36px;
    background-color: var(--st-background-tertiary);
    outline: var(--st-border);
    border-radius: var(--st-border-radius);
}

.st-button.segment {
    padding: 0 12px;
    background-color: transparent;
    color: var(--st-foreground-secondary);
    border: 1px solid transparent;
}

.st-button.segment.active {
    background-color: var(--st-highlight-primary);
    color: var(--st-foreground-accent);
    border: var(--st-border);
    transform: none !important;
    filter: none !important;
}

.st-button:focus-visible {
    outline: 2px solid var(--st-foreground-primary);
}

.st-button:hover {
    filter: brightness(var(--st-hover-brightness));
}

.st-button:active {
    transform: scale(.9);
}

.st-button[data-icon]:before {
    content: attr(data-icon);
    display: inline-block;
    width: 20px;
    overflow: visible;
    text-align: center;
    font-family: 'Font Awesome 6 Pro';
    font-weight: 500;
    font-size: 18px;
    vertical-align: -2px;
    margin-right: 10px;
}

.st-button[disabled]:not([disabled=false]) {
    pointer-events: none;
    opacity: .4;
}

.st-chips-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 8px;
    margin-top: auto;
    max-height: calc(100% - 24px);
    background-color: var(--background-color);
    box-shadow: 0 0 12px 12px var(--background-color);
}

.st-start-event .st-chips-wrapper {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.st-chips-wrapper:empty {
    display: none;
}

.st-chip {
    display: inline-block;
    padding-inline: 12px;
    border: 1px solid var(--st-chip-info-border);
    border-radius: 12px;
    background-color: var(--st-chip-info-background);
    font: 500 11px/22px var(--st-font-family-secondary);
}

.st-chip.ok {
    border-color: var(--st-chip-ok-border);
    background-color: var(--st-chip-ok-background);
}

.st-chip.warn {
    border-color: var(--st-chip-warn-border);
    background-color: var(--st-chip-warn-background);
}

.st-chip.important {
    border-color: var(--st-chip-info-border);
    background-color: var(--st-chip-info-border);
    color: #fff;
}

.st-dialog {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 400px;
    background-color: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    font: 14px/18px var(--st-font-family-secondary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    padding: 24px;
    overflow: visible;
    animation: floatDown 300ms;
}

.st-dialog::backdrop {
    backdrop-filter: blur(3px);
}

.st-dialog-dismiss {
    position: absolute;
    top: 0;
    right: -40px;
    background-color: var(--st-background-secondary) !important;
}

.st-dialog-buttons {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.st-input {
    width: 200px;
    height: 32px;
    font-family: var(--st-font-family-secondary);
    font-size: 14px;
    padding: 6px;
    background: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border: var(--st-border);
    border-radius: calc(var(--st-border-radius) * 0.75);
}

.st-input[type=number] {
    width: 75px;
}

.st-input:focus {
    border: 1px solid var(--st-accent-primary);
}

.st-checkbox-label {
    position: relative;
    margin-left: 32px;
    margin-block: 4px;
    font-family: var(--st-font-family-secondary);
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.st-checkbox-label:before {
    --size: 24px;
    content: ' ';
    display: inline-block;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: -32px;
    top: -3px;
    padding-top: 4px;
    font: 16px 'Font Awesome 6 Pro';
    text-align: center;
    color: var(--st-foreground-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
}

.st-checkbox-label:has(.st-checkbox-input:checked):before {
    background-color: var(--st-highlight-primary);
    content: '';
}

.st-checkbox-input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.st-divider {
    width: 100%;
    height: 1px;
    margin-block: 8px;
    border-top: 1px solid var(--st-border-color);
}

.st-divider.vertical {
    height: 100%;
    width: 1px;
    margin-inline: 8px;
    margin-block: 0;
    border-left: 1px solid var(--st-border-color);
    border-top: none;
}

.st-divider.thick {
    border-width: 3px;
}

.st-sortable-list {
    width: 100%;
    padding-bottom: 16px;
}

.st-sortable-list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-inline: 12px;
    border-radius: var(--st-border-radius);
    background: var(--st-background-secondary);
    border: var(--st-border);
    color: var(--st-foreground-primary);
    font: 14px/40px var(--st-font-family-secondary);
    cursor: grab;
}

.st-sortable-list-item:active {
    box-shadow: 0 2px 4px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    cursor: grabbing !important;
}

.st-sortable-list-item:after {
    position: absolute;
    top: 12px;
    right: 12px;
    content: '';
    font: 500 16px "Font Awesome 6 Pro";
    color: var(--st-foreground-insignificant);
}

.st-sortable-list-item-option {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font: 12px var(--st-font-family-secondary);
}

.st-sortable-list-item-option select {
    min-width: 128px;
    max-width: 256px;
    padding: 4px 8px;
    background-color: var(--st-background-secondary);
    border: var(--st-border);
    border-radius: calc(var(--st-border-radius) * 0.75);
    font: 12px var(--st-font-family-secondary);
}

.st-sortable-list-item.dragging,
.st-sortable-list-item.dragging-return {
    opacity: 0 !important;
}

.st-sortable-list-item.dragging {
    cursor: grabbing !important;
}

.st-sortable-list-item.excluded {
    opacity: .75;
}

.st-sortable-list-ghost {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: 10000000;
    box-shadow: 0 2px 4px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    cursor: grabbing !important;
    animation: fadeIn 200ms;
}

.st-sortable-list-ghost.returning {
    transition-property: top, left, transform, translate;
    transition-duration: 200ms;
}

.st-number-ghost {
    position: absolute;
    width: 32px;
    overflow: visible;
    font: 16px var(--st-font-family-secondary);
    text-align: center;
    pointer-events: none;
    z-index: 10000000;
    animation: ghostUp 1000ms both;
}

@keyframes ghostUp {
    0% {
        opacity: 0;
        translate: 0 -32px;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
        translate: 0 -96px;
    }
}

.st-progress-bar {
    height: 4px;
    background-color: var(--st-background-tertiary);
    width: 100%;
    overflow: hidden;
    border-radius: min(var(--st-border-radius), 2px);
}

.st-progress-bar-value.indeterminate {
    width: 100%;
    height: 100%;
    border-radius: min(var(--st-border-radius), 2px);
    background-color: var(--st-accent-primary);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
    0% {
        transform: translateX(0) scaleX(0);
    }

    30% {
        transform: translateX(0) scaleX(0.4);
    }

    100% {
        transform: translateX(100%) scaleX(0.6);
    }
}

#st-appbar-metrics {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: auto;
    color: var(--st-contrast-accent);
    opacity: 0.5;
    translate: 0 -8px;
    text-align: left;
}

#st-appbar-metrics>.st-metric {
    text-align: center;
}

.st-metric {
    font: var(--st-font-primary);
    line-height: normal;
    font-size: 20px;
    flex-grow: 2;
}

.st-metric[data-extra]:after {
    content: ' (' attr(data-extra) ')';
    white-space: pre-wrap;
    font: 12px var(--st-font-family-secondary);
}

.st-metric:before {
    content: attr(data-description) '\A';
    white-space: pre-wrap;
    font: 12px var(--st-font-family-secondary);
}

a.st-metric {
    color: var(--st-foreground-primary);
    text-decoration: none;
    transition: color 200ms;
}

a.st-metric:hover {
    color: var(--st-foreground-accent);
    transition: color 0;
}

.st-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    width: max-content;
}

.st-list-row {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    width: 100%;
}

.st-tile {
    position: relative;
    background-color: var(--st-background-secondary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    padding: 32px;
}

.st-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--st-foreground-primary);
    font: 700 20px/2rem var(--st-font-family-primary);
    margin-bottom: 20px;
}

.st-section-title[data-icon]:before {
    content: attr(data-icon);
    font: bold 20px 'Font Awesome 6 Pro';
    color: var(--st-foreground-accent);
}

.st-section-title[data-description]:after {
    content: attr(data-description);
    font: 14px var(--st-font-family-secondary);
    text-align: center;
    white-space: pre;
}

.st-tip {
    display: inline-block;
    font: 12px var(--st-font-family-secondary);
    color: var(--st-foreground-insignificant);
}

#st-cf-sc-tab.active:after {
    width: calc(100% - 24px);
    height: 3px;
    translate: -50%;
}

#st-start-schedule>ul>li:hover {
    filter: brightness(var(--st-hover-brightness));
    transition: filter 200ms, transform 200ms;
}

#st-start-schedule>ul>li[data-current] {
    background: var(--st-highlight-primary)
}

.menu-container {
    padding-top: 2px;
    margin-top: -2px;
}

.main-menu li a {
    overflow: visible !important;
}

.st-hotkey-label {
    --transition-delay: 0ms;
    --reverse-transition-delay: 0ms;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--st-border-radius) * 0.5);
    background: var(--st-accent-secondary);
    color: var(--st-contrast-accent);
    font: 600 14px var(--st-font-family-secondary);
    border: 1px solid var(--st-foreground-accent);
    scale: 0;
    opacity: 0;
    transition: scale 100ms var(--reverse-transition-delay), opacity 200ms;
}

li.children .submenu .st-hotkey-label {
    left: -25px;
}

[data-hotkeys-visible="true"] .st-hotkey-label {
    scale: 1;
    opacity: .8;
    transition: scale 300ms cubic-bezier(.29, 1.5, .64, 1) var(--transition-delay), opacity 200ms;
}

.st-hotkey-label-collapsed-only {
    --child-index: 0;
    left: calc(var(--child-index) * 12px - 2px);
    scale: 0 !important;
    opacity: 0 !important;
    transition: scale 100ms var(--reverse-transition-delay), opacity 200ms, left 200ms !important;
}

[data-hotkeys-visible="true"] .menu-host.collapsed-menu li.children .st-hotkey-label-collapsed-only {
    left: calc(var(--child-index) * 12px - 2px);
    scale: 1 !important;
    opacity: .8 !important;
    transition: scale 300ms cubic-bezier(.29, 1.5, .64, 1) var(--transition-delay), opacity 200ms, left 200ms !important;
}

[data-hotkeys-visible="true"] li.children:not(.expanded) .st-hotkey-label-collapsed-only {
    left: calc(var(--child-index) * 24px - 2px);
    scale: 1 !important;
    opacity: .8 !important;
    transition: scale 300ms cubic-bezier(.29, 1.5, .64, 1) var(--transition-delay), opacity 200ms, left 200ms !important;
}

.st-keyboard-hint,
a.st-keyboard-hint {
    position: relative;
    color: var(--st-foreground-primary);
    font: 14px var(--st-font-family-secondary);
    transition: color 200ms, filter 200ms, max-width 500ms, padding 500ms, scale 200ms;
}

.st-keyboard-hint.small,
a.st-keyboard-hint.small {
    font-size: 12px;
}

.st-keyboard-hint:before {
    display: inline-block;
    content: attr(data-hint);
    border: 2px solid var(--st-border-color);
    border-radius: var(--st-border-radius);
    min-width: 40px;
    height: 40px;
    padding: 6px;
    text-align: center;
    vertical-align: -1px;
    margin-right: 10px;
    background: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    box-shadow: 0 2px 4px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    font: 500 18px var(--st-font-family-primary);
}

.st-keyboard-hint.small:before,
a.st-keyboard-hint.small:before {
    font-size: 16px;
    height: 30px;
    min-width: 30px;
    padding: 3px;
    border-width: 1px;
}

a.st-keyboard-hint:hover {
    scale: 1.1;
    color: var(--st-foreground-accent);
}

a.st-keyboard-hint:active,
a.st-keyboard-hint.clicked {
    scale: .95;
    color: var(--st-foreground-accent);
}

#st-prevent-interactions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .1;
    background-color: var(--st-background-overlay);
    z-index: 99999999;
}

.border-top-radius-none,
.border-top-radius-none>span:nth-child(3) {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.border-bottom-radius-none,
.border-bottom-radius-none>span:nth-child(3) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.st-chart-about {
    width: calc(var(--size) / 2);
    max-height: var(--size);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.st-chart-label {
    font: 700 16px/24px var(--st-font-family-primary);
}

.st-chart-info {
    font: 14px/22px var(--st-font-family-secondary);
}

.st-bar-chart {
    display: flex;
    justify-content: space-between;
    height: var(--size);
    padding-bottom: 48px;
}

.st-bar-chart-col {
    --hue-rotate: 0;
    --bar-fill-amount: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-inline: 2px;
    filter: hue-rotate(calc(var(--hue-rotate) * 1deg));
    transition: --bar-fill-amount 200ms;
}

.st-bar-chart-col:hover {
    background-color: var(--st-highlight-primary);
}

.st-bar-chart-bar {
    width: 25px;
    height: calc(var(--bar-fill-amount) * 100%);
    border-radius: var(--st-border-radius) var(--st-border-radius) 0 0;
    background-color: var(--st-accent-primary);
}

.st-bar-chart-col:hover .st-bar-chart-bar {
    background-color: var(--st-accent-secondary);
}

.st-bar-chart-col:before {
    content: attr(data-value);
    text-align: center;
    width: 100%;
    height: 0;
    translate: 0 6px;
    color: var(--st-contrast-accent);
    font: 600 12px var(--st-font-family-secondary);
}

.st-bar-chart-col:hover:before {
    content: attr(data-percentage) '%';
    text-align: left;
    font-weight: normal;
    rotate: 90deg;
    translate: 8px 22px;
}

.st-bar-chart-col:after {
    content: attr(title);
    width: 0;
    height: 0;
    rotate: 45deg;
    translate: 2px 4px;
    font: 11px var(--st-font-family-secondary);
    text-wrap: nowrap;
}

.st-pie-chart {
    position: relative;
    --size: 256px;
    --radius: calc(var(--size) / 2);
    display: flex;
    gap: 12px;
}

.st-pie-chart:before {
    content: '';
    display: block;
    width: var(--size);
    height: var(--size);
}

.st-pie-chart-slice {
    --hue-rotate: 0;
    --pie-offset: 0;
    --pie-size: 1;
    --angle: calc(var(--pie-size) * 360deg);
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    transform: rotate(calc(var(--pie-offset) * 1turn));
    filter: hue-rotate(calc(var(--hue-rotate) * 1deg));
}

.st-pie-chart-slice:after {
    --angle-in-radians: calc(var(--pie-size) * 1turn);
    --y: calc(cos(var(--angle-in-radians) / 2) * var(--radius));
    content: attr(data-value);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
    translate: -50% -50%;
    color: var(--st-contrast-accent);
    font: 600 12px var(--st-font-family-secondary);
    transform:
        rotate(calc(var(--angle) / 2)) translateY(calc(-0.85 * var(--y))) rotate(calc(-1 * var(--angle) / 2)) rotate(calc(-1 * var(--pie-offset) * 1turn));
}

.st-pie-chart-slice:has(.st-pie-chart-slice-box2:hover):after,
.st-pie-chart-slice[data-more-than-half=true]:has(.st-pie-chart-slice-box1:hover):after {
    content: attr(data-percentage) '%';
    font-weight: normal;
}

.st-pie-chart-slice-box1 {
    --background-color: var(--st-accent-primary);
    position: absolute;
    top: 0;
    left: calc(var(--size) / 2);
    height: var(--size);
    width: calc(var(--size) / 2);
    border-radius: 0 var(--size) var(--size) 0;
    transform-origin: left;
    overflow: hidden;
    transition: transform 200ms;
}

.st-pie-chart-slice[data-more-than-half=true] .st-pie-chart-slice-box1 {
    background-color: var(--background-color);
    overflow: visible;
}

.st-pie-chart-slice-box2 {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--size);
    width: calc(var(--size) / 2);
    translate: -100%;
    border-radius: var(--size) 0 0 var(--size);
    transform-origin: right;
    transform: rotate(calc(var(--pie-size) * 1turn));
    background-color: var(--background-color);
}

.st-pie-chart-slice,
.st-pie-chart-slice-box1 {
    pointer-events: none;
}

.st-pie-chart-slice-box2,
.st-pie-chart-slice[data-more-than-half=true] .st-pie-chart-slice-box1 {
    pointer-events: all;
}

.st-pie-chart-slice.active .st-pie-chart-slice-box1 {
    --background-color: var(--st-accent-secondary);
    transform: scale(1.05);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes fadeIn {
    0% {
        display: none;
    }

    1% {
        display: unset;
        opacity: 0;
        border-radius: 0;
    }

    100% {
        pointer-events: all;
        opacity: 1;
    }
}

@keyframes floatDown {
    from {
        opacity: 0;
        translate: 0 -200px;
    }
}

@keyframes floatUp {
    from {
        opacity: 0;
        translate: 0 200px;
    }
}

@keyframes popIn {
    0% {
        display: none;
    }

    1% {
        display: unset;
        scale: 0;
    }
}

@keyframes expandIn {
    from {
        opacity: 0;
        scale: .8;
    }
}

@keyframes shrinkOut {
    to {
        opacity: 0;
        scale: .8;
    }
}

@keyframes floatDownOut {
    to {
        opacity: 0;
        translate: 0 200px;
    }
}

@keyframes floatLeft {
    from {
        opacity: 0;
        translate: 150px;
    }
}

@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100vw - 168px);
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(100vh - 62px);
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}