:root {
    --st-linear-gradient-study-tools: linear-gradient(300deg, hsl(209, 40%, 29%), hsl(209, 36%, 30%));
}

body,
div.loading-overlay {
    background: var(--st-background-primary) !important
}

.st-overlay[open] {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    background: var(--st-background-overlay);
    color: var(--st-foreground-primary);
    margin: 0;
    padding: 32px 24px 16px 24px;
    border: none;
    animation: fadeIn 200ms;
}

.st-overlay::backdrop {
    background: none;
}

.st-banned.ad.hide {
    translate: 0 200px;
}

.st-banner-ad {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    margin-top: 16px;
    place-content: center;
    place-items: center;
    gap: 24px;
    background: var(--st-linear-gradient-study-tools);
    color: #fff;
    font: 16px var(--st-font-family-secondary);
    z-index: 9999;
    transition: translate 500ms;
}

.st-banner-ad:after {
    padding: 6px 16px;
    content: "Koppeling delen";
    white-space: pre-wrap;
    background: #fff;
    color: hsl(209, 36%, 30%);
    cursor: pointer;
}

.st-shortcut-icon {
    font: 20px 'Font Awesome 5 Pro';
}

span.st-title {
    display: block;
    color: var(--st-foreground-accent);
    font: 700 28px / 2rem arboria, sans-serif;
    margin-bottom: 6px;
}

span.st-title:after {
    content: ".";
    display: inline-block;
    width: 3px;
    color: #ff8205;
}

span.st-subtitle {
    font: 14px var(--st-font-family-secondary) !important;
    color: var(--st-foreground-primary);
}

#st-snackbars:has(div.open) {
    background: radial-gradient(at bottom left, rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), 0.75) 0%, rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), 0) 70%) !important;
}

#st-snackbars>div {
    font: 16px arboria, sans-serif !important;
    background-color: var(--st-background-secondary) !important;
    color: var(--st-foreground-primary) !important;
    border: var(--st-border) !important;
    border-radius: var(--st-border-radius) !important;
    box-shadow: 0 0 16px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha)) !important;
}

.st-button {
    height: 32px;
    padding: 6px 16px;
    background: var(--st-accent-primary);
    font-family: var(--st-font-family-secondary);
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: var(--st-border-radius);
    color: var(--st-contrast-accent);
    cursor: pointer;
    user-select: none;
    transition: filter 200ms, transform 200ms, border 200ms, color 200ms;
}

.st-button.small {
    padding: 2px 10px;
    font-size: 12px;
    height: 24px;
}

.st-button.secondary {
    background: var(--st-background-secondary);
    color: var(--st-foreground-accent);
    outline: 2px solid var(--st-accent-primary);
    outline-offset: -2px;
}

.st-button.icon {
    background: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    width: 32px;
    padding: 0;
    border-radius: 50%;
}

.st-button.icon:hover {
    color: var(--st-foreground-accent);
}

.st-button.icon[data-icon]:before {
    margin-right: 0;
}

.st-button.switch-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.st-button.switch-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.st-button:hover,
.st-button:focus {
    filter: brightness(var(--st-hover-brightness));
}

.st-button:active {
    transform: scale(.9);
}

.st-button[data-icon]:before {
    content: attr(data-icon);
    display: inline-block;
    width: 20px;
    overflow: visible;
    text-align: center;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    font-size: 18px;
    vertical-align: -2px;
    margin-right: 10px;
}

.st-button[disabled] {
    pointer-events: none;
    opacity: .5;
}

.st-input {
    width: 200px;
    height: 32px;
    font-family: var(--st-font-family-secondary);
    font-size: 14px;
    padding: 6px;
    background: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
}

.st-input:focus {
    border: 1px solid var(--st-accent-primary);
}

.st-checkbox-label {
    font-family: var(--st-font-family-secondary);
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.st-checkbox-label:before {
    --size: 24px;
    content: ' ';
    display: inline-block;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: -32px;
    top: -3px;
    padding-top: 4px;
    font: 16px 'Font Awesome 5 Pro';
    text-align: center;
    color: var(--st-foreground-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
}

.st-checkbox-label:has(.st-checkbox-input:checked):before {
    background-color: var(--st-highlight-primary);
    content: '';
}

.st-checkbox-input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

#st-appbar-metrics {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: auto;
    color: var(--st-contrast-accent);
    opacity: 0.5;
    translate: 0 -8px;
    text-align: left;
}

#st-appbar-metrics>.st-metric {
    text-align: center;
}

.st-metric {
    font: var(--st-font-primary);
    line-height: normal;
    font-size: 20px;
    flex-grow: 2;
}

.st-metric[data-extra]:after {
    content: ' (' attr(data-extra) ')';
    white-space: pre-wrap;
    font: 12px var(--st-font-family-secondary);
}

.st-metric:before {
    content: attr(data-description) '\A';
    white-space: pre-wrap;
    font: 12px var(--st-font-family-secondary);
}

.st-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    width: max-content;
}

.st-tile {
    position: relative;
    background-color: var(--st-background-secondary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    padding: 32px;
}

.st-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--st-foreground-primary);
    font: 700 20px/2rem var(--st-font-family-primary);
    margin-bottom: 26px;
}

.st-section-title[data-icon]:before {
    content: attr(data-icon);
    font: 20px 'Font Awesome 5 Pro';
    color: var(--st-foreground-accent);
}

.st-section-title[data-description]:after {
    content: attr(data-description);
    font: 14px var(--st-font-family-secondary);
    text-align: center;
    white-space: pre;
}

.st-tip {
    display: inline-block;
    font: 12px var(--st-font-family-secondary);
    color: var(--st-foreground-insignificant);
}

#st-cf-sc-tab.active:after {
    width: calc(100% - 24px);
    height: 3px;
    translate: -50%;
}

#st-vd-schedule>ul>li:hover {
    filter: brightness(var(--st-hover-brightness));
    transition: filter 200ms, transform 200ms;
}

#st-vd-schedule>ul>li[data-current] {
    background: var(--st-highlight-primary)
}

.st-cf-ghost {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--st-highlight-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    text-align: center;
    font: 11px/40px var(--st-font-family-secondary);
    overflow: hidden;
    pointer-events: none;
    z-index: 10000000;
    transition: top 300ms ease-in, right 300ms ease-in;
    animation: fadeIn 200ms;
}

.menu-container {
    padding-top: 2px;
    margin-top: -2px;
}

.main-menu li a {
    overflow: visible !important;
}

.st-hotkey-label {
    --transition-delay: 0ms;
    --reverse-transition-delay: 0ms;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--st-border-radius) / 2);
    background: var(--st-contrast-accent);
    color: #888;
    font: 14px var(--st-font-family-secondary);
    border: 1px solid #e7e7e7;
    scale: 0;
    opacity: 0;
    transition: scale 100ms var(--reverse-transition-delay), opacity 200ms;
}

li.children .submenu .st-hotkey-label {
    left: -25px;
}

[data-hotkeys-visible="true"] .st-hotkey-label {
    scale: 1;
    opacity: .6;
    transition: scale 300ms cubic-bezier(.29, 1.5, .64, 1) var(--transition-delay), opacity 200ms;
}

.st-hotkey-label-collapsed-only {
    --child-index: 0;
    left: calc(var(--child-index) * 12px - 2px);
    scale: 0 !important;
    opacity: 0 !important;
    transition: scale 100ms var(--reverse-transition-delay), opacity 200ms, left 200ms !important;
}

[data-hotkeys-visible="true"] .menu-host.collapsed-menu li.children .st-hotkey-label-collapsed-only {
    left: calc(var(--child-index) * 12px - 2px);
    scale: 1 !important;
    opacity: .6 !important;
    transition: scale 300ms cubic-bezier(.29, 1.5, .64, 1) var(--transition-delay), opacity 200ms, left 200ms !important;
}

[data-hotkeys-visible="true"] li.children:not(.expanded) .st-hotkey-label-collapsed-only {
    left: calc(var(--child-index) * 24px - 2px);
    scale: 1 !important;
    opacity: .6 !important;
    transition: scale 300ms cubic-bezier(.29, 1.5, .64, 1) var(--transition-delay), opacity 200ms, left 200ms !important;
}

#st-notes {
    position: fixed;
    right: -450px;
    top: 16px;
    width: 300px;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--st-background-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    box-shadow: 0 0 32px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), 1);
    z-index: 9999999;
    transition: right 500ms cubic-bezier(.75, 0, 1, 1), max-height 500ms;
}

#st-notes[data-open=true],
#st-notes[data-open=force],
#st-notes:hover {
    right: 16px;
    z-index: 10000000;
    transition: right 200ms cubic-bezier(0, 0, .25, 1), max-height 500ms;
}

#st-notes[data-open=force] {
    max-height: calc(100vh - 112px);
    overflow-y: auto;
}

#st-notes:before {
    content: "Notities";
    font: 600 16px/36px var(--st-font-family-primary);
    padding-left: 12px;
    border-bottom: var(--st-border);
}

#st-notes[data-open=force] #st-notes-new {
    position: absolute;
    top: 0;
    right: 38px;
    height: 37px;
    width: 35px;
}

#st-notes[data-open=force] #st-notes-new:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 2px;
    font: 16px 'Font Awesome 5 Pro';
    transition: rotate 200ms, scale 200ms;
}

#st-notes-pin {
    position: absolute;
    top: 0;
    right: 3px;
    height: 37px;
    width: 35px;
}

#st-notes-pin:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 2px;
    rotate: 38deg;
    font: 16px 'Font Awesome 5 Pro';
    transition: rotate 200ms, scale 200ms;
}

#st-notes[data-open=force]>#st-notes-pin:before {
    rotate: 0deg;
}

#st-notes-new:hover:before,
#st-notes-pin:hover:before {
    scale: 1.1;
}

#st-notes-new:active:before,
#st-notes-pin:active:before {
    scale: .9;
}

#st-notes>div {
    width: 100%;
    min-height: max-content;
    padding: 12px 0;
}

#st-notes>div:not(:last-child) {
    border-bottom: var(--st-border);
}

#st-notes>div input,
#st-notes>div textarea {
    width: calc(100% - 4px);
    height: 17px;
    overflow: hidden;
    padding: 2px 10px;
    margin-inline: 2px;
    word-wrap: break-word;
    background: transparent;
    color: var(--st-foreground-primary);
    border: none;
    transition: background 200ms, color 200ms, margin 200ms, padding 200ms;
}

#st-notes>div input:focus,
#st-notes>div textarea:focus {
    background: var(--st-highlight-subtle);
}

#st-notes>div input {
    overflow: hidden;
    height: 19px;
    margin-bottom: 6px;
    font: 600 16px var(--st-font-family-primary);
    transition: background 200ms;
}

#st-notes>div input:focus {
    height: 27px;
    padding: 4px 10px;
    margin-bottom: 2px;
    margin-top: -4px
}

#st-notes>div textarea.link-pending {
    background-color: var(--st-highlight-warn);
    color: var(--st-accent-warn);
    font-style: italic;
}

#st-notes>div textarea.link {
    background-color: var(--st-highlight-primary);
    color: var(--st-foreground-accent);
    font-style: italic;
    cursor: pointer;
}

#st-notes>div textarea.strikethrough {
    text-decoration: line-through solid 2px;
}

#st-notes>div mark {
    background-color: transparent;
    color: var(--st-accent-warn);
    font-style: italic;
}

#st-notes>div mark:after {
    content: "Selecteer tekst op de pagina en druk op '" attr(data-keybind) "'."
}

.st-keyboard-hint,
a.st-keyboard-hint {
    position: relative;
    color: var(--st-foreground-primary);
    font: 14px var(--st-font-family-secondary);
    transition: color 200ms, filter 200ms, max-width 500ms, padding 500ms, scale 200ms;
}

.st-keyboard-hint.small,
a.st-keyboard-hint.small {
    font-size: 12px;
}

.st-keyboard-hint:before {
    display: inline-block;
    content: attr(data-hint);
    border: 2px solid var(--st-border-color);
    border-radius: var(--st-border-radius);
    min-width: 40px;
    height: 40px;
    padding: 6px;
    text-align: center;
    vertical-align: -1px;
    margin-right: 10px;
    background: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    box-shadow: 0 2px 4px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    font: 500 18px var(--st-font-family-primary);
}

.st-keyboard-hint.small:before,
a.st-keyboard-hint.small:before {
    font-size: 16px;
    height: 30px;
    min-width: 30px;
    padding: 3px;
    border-width: 1px;
}

a.st-keyboard-hint:hover {
    scale: 1.1;
    color: var(--st-foreground-accent);
}

a.st-keyboard-hint:active,
a.st-keyboard-hint.clicked {
    scale: .95;
    color: var(--st-foreground-accent);
}

.st-cf-ghost-moving {
    animation: gradeGhost 400ms;
    animation-fill-mode: forwards;
}

#st-prevent-interactions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .1;
    background-color: var(--st-background-overlay);
    z-index: 99999999;
}

.border-top-radius-none,
.border-top-radius-none>span:nth-child(3) {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.border-bottom-radius-none,
.border-bottom-radius-none>span:nth-child(3) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        border-radius: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes floatDown {
    from {
        opacity: 0;
        translate: 0 -200px;
    }
}

@keyframes floatUp {
    from {
        opacity: 0;
        translate: 0 200px;
    }
}

@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100vw - 168px);
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(100vh - 62px);
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}