#st-level {
    position: absolute;
    top: 24px;
    right: 32px;
    width: clamp(75px, 10vw, 300px);
    z-index: 1000;
}

#st-level:after {
    content: '';
    width: 100%;
    box-sizing: border-box;
    width: var(--level-progress);
    margin-right: calc(100% - var(--level-progress));
    height: 4px;
    background: var(--st-accent-primary);
    position: absolute;
    bottom: -8px;
    left: 0;
}