@property --px-per-hour {
    syntax: "<length>";
    inherits: true;
    initial-value: 115px;
}

@property --hour-zoom {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

@property --progress {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

#st-start button.st-list-item:hover,
#st-start button.st-start-event:hover,
#st-start .st-list-item[href]:hover {
    filter: brightness(var(--st-hover-brightness));
}

#st-start button.st-list-item:focus-visible,
#st-start button.st-start-event:focus-visible {
    outline: 1px solid var(--st-foreground-primary);
    outline-offset: -2px;
}

#st-start {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 400px;
    overflow: hidden;
    transition: grid-template 200ms, grid-template-columns 200ms;
}

#st-start-header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template:
        'text buttons' 32px
        / 1fr auto;
    align-items: center;
    padding: 32px 32px 20px;
    background-color: var(--st-background-primary);
    transition: background-color 200ms, padding-right 200ms, opacity 200ms;
}

#st-start-header-text {
    margin-bottom: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 300ms;
}

#st-start-header-text.italic {
    font-style: italic;
}

#st-start-header[data-transition]>span {
    opacity: 0
}

#st-start-header-text:after {
    content: attr(data-last-letter);
}

#st-start-header-text:first-letter {
    text-transform: capitalize;
}

#st-start-header-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

#st-start-today-view {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 8px;
}

#st-start-schedule {
    --px-per-hour: 115px;
    grid-area: schedule;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    background-color: var(--st-background-primary);
    transition: background-color 200ms, opacity 200ms;
}

#st-start-schedule-head {
    display: flex;
    gap: 16px;
    padding-inline: 32px;
}

#st-start-schedule-wrapper {
    position: absolute;
    --hour-zoom: 1;
    display: flex;
    /* padding-inline: 24px; */
    height: calc(24 * var(--hour-zoom) * var(--px-per-hour));
    width: 100%;
    transition: --hour-zoom 200ms;
}

#st-start-schedule.list-view #st-start-schedule-wrapper {
    height: auto;
}

#st-start-ticks-wrapper {
    position: absolute;
    --hour-zoom: 1;
    height: calc(24 * var(--hour-zoom) * var(--px-per-hour));
    width: 100%;
}

#st-start-schedule.list-view #st-start-ticks-wrapper {
    display: none;
}

.st-start-tick {
    --relative-start: 0;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour));
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--st-foreground-primary);
    opacity: .04;
}

.st-start-tick.half {
    height: 1px;
    opacity: .02;
}

#st-start-now {
    --relative-start: 0;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour));
    left: -8px;
    right: -8px;
    height: 1px;
    padding-bottom: 64px;
    border-top: 1px solid var(--st-accent-primary);
    z-index: 0;
    pointer-events: none;
}

#st-start-schedule:not(.week-view) .st-start-col:first-child {
    margin-left: 32px;
}

#st-start-schedule:not(.week-view) .st-start-col:last-child {
    margin-right: 32px;
}

#st-start-schedule:not(.week-view) .st-start-col:first-child #st-start-now {
    margin-left: -24px;
}

#st-start-schedule:not(.week-view) .st-start-col:last-child #st-start-now {
    margin-right: -24px;
}

.st-start-col {
    position: relative;
    flex: 2 1 15%;
    height: calc(24 * var(--hour-zoom) * var(--px-per-hour));
    margin-inline: 8px;
}

#st-start-schedule.list-view .st-start-col {
    height: auto;
}

.st-start-col+.st-start-col:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--st-border-color);
}

.st-start-col[data-irrelevant=true] {
    flex-basis: 10%;
}

.st-start-col[data-today=true] {
    flex-basis: 21%;
}

.st-start-col[data-tomorrow=true] {
    flex-basis: 18%;
}

.st-start-col-label {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 38px;
    padding-bottom: 6px;
    margin-inline: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--st-background-primary);
    border-bottom: var(--st-border);
    font: 12px var(--st-font-family-secondary);
    z-index: 999;
}

.st-start-col-label>span {
    opacity: .7;
}

.st-start-col-label>div {
    display: inline-block;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.st-start-col[data-today=true] .st-start-col-label>span {
    opacity: 1;
}

.st-start-col[data-today=true] .st-start-col-label>div {
    width: 32px;
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
    font-size: 14px;
}

.st-start-col:only-child .st-start-col-label {
    display: none;
}

#st-start-schedule:not(.week-view) .st-start-col:first-child .st-start-col-label {
    margin-left: -32px;
}

#st-start-schedule:not(.week-view) .st-start-col:last-child .st-start-col-label {
    margin-right: -32px;
}

.st-start-event {
    --font-size-modifier: 1;
    --relative-start: 0;
    --cols: 1;
    --background-color: var(--st-background-secondary);
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour));
    height: calc(var(--duration) * var(--hour-zoom) * var(--px-per-hour));
    min-height: 48px;
    width: calc(100% / var(--cols));
    left: calc(100% / var(--cols) * var(--cols-before));
    padding: 8px 12px;
    display: grid;
    grid-template:
        'timeslot subject' auto
        'timeslot details' auto
        '. .' 1fr
        / auto 1fr;
    background-color: var(--background-color);
    color: var(--st-foreground-primary);
    border-radius: calc(var(--st-border-radius) * 0.75);
    border: none;
    outline: var(--st-border);
    text-align: start;
    overflow: hidden;
    cursor: pointer;
    container-type: size;
    z-index: 1;
    transition: top 200ms, left 200ms, height 200ms, width 200ms;
}

.week-view .st-start-event {
    --font-size-modifier: 0.9;
    grid-template:
        'timeslot subject' auto
        '. details' auto
        / auto 1fr;
    align-content: flex-start;
}

@container (height < 64px) {
    #st-start-schedule:not(.list-view) .st-start-event>* {
        transform: translateY(-2px);
        line-height: normal;
    }

    .st-start-event .st-list-row {
        flex-direction: row !important;
        width: max-content;
    }
}

@container (height < 34px) {
    #st-start-schedule:not(.list-view) .st-start-event>* {
        transform: translateY(-12px);
    }
}

@container (width < 180px) {
    #st-start-schedule .st-start-event .st-start-event-school-hours {
        display: none;
    }
}

#st-start-schedule.list-view .st-start-event {
    position: relative;
    top: 0;
    left: 0;
    height: 66px;
    width: 100%;
    border-radius: 0;
    border-top-width: 0;
    padding-block: 10px;
    grid-template:
        'timeslot subject' auto
        'timeslot details' 1fr
        / auto 1fr;
}

#st-start-schedule.list-view .st-start-event:first-of-type {
    border-top-width: 1px;
}

.st-start-event[data-ongoing=true] {
    --background-color: var(--st-highlight-primary);
}

.st-start-event[data-start-connecting=true] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.st-start-event[data-end-connecting=true] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.st-start-event-school-hours {
    grid-area: timeslot;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--st-highlight-primary);
    border-radius: calc(var(--st-border-radius) * 0.75);
    font: 600 16px/40px var(--st-font-family-primary);
}

.week-view .st-start-event-school-hours {
    height: 24px;
    width: 24px;
    background-color: transparent;
}

.st-start-event-school-hours.icon {
    font: 16px 'Font Awesome 6 Pro';
}

[data-ongoing=true] .st-start-event-school-hours {
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
}

.week-view [data-ongoing=true] .st-start-event-school-hours {
    background-color: transparent;
    color: var(--st-foreground-accent);
}

.st-start-event.cancelled .st-start-event-school-hours {
    background-color: var(--st-highlight-warn);
    color: var(--st-foreground-primary);
}

.week-view .st-start-event.cancelled .st-start-event-school-hours {
    background-color: transparent;
    color: var(--st-accent-warn);
}

.st-start-event-cancelled {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: var(--st-accent-warn);
    opacity: 1 !important;
    transform: none !important;
}

.st-start-event.cancelled .st-start-event-subject-wrapper,
.st-start-event.cancelled .st-list-row {
    opacity: .75;
}

.st-start-event-subject-wrapper {
    grid-area: subject;
    display: flex;
    gap: 4px;
    width: max-content;
    line-height: calc(26px * var(--font-size-modifier));
}

.st-start-event-subject {
    display: inline-block;
    font: 600 16px/26px var(--st-font-family-secondary);
    font-size: calc(16px * var(--font-size-modifier));
    line-height: inherit;
}

#st-start-schedule.list-view .st-start-event-subject {
    font: 600 16px/24px var(--st-font-family-primary);
}

.st-start-event-teacher {
    grid-area: teacher;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 500 12px/22px var(--st-font-family-secondary);
    font-size: calc(12px * var(--font-size-modifier));
    line-height: inherit;
}

.st-start-event-location {
    grid-area: location;
    font: 500 16px/26px var(--st-font-family-secondary);
    font-size: calc(16px * var(--font-size-modifier));
    line-height: inherit;
}

.st-start-event-location:not(:empty):before {
    content: ' (';
}

.st-start-event-location:not(:empty):after {
    content: ')';
}

.st-start-event .st-list-row {
    grid-area: details;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 12px;
    row-gap: 0;
    line-height: calc(22px * var(--font-size-modifier));
}

.st-start-event-time {
    grid-area: time;
    font: 500 12px/22px var(--st-font-family-secondary);
    font-size: calc(12px * var(--font-size-modifier));
    line-height: inherit;
}

#st-start-widgets {
    grid-area: widgets;
    position: relative;
    width: 400px;
    box-sizing: content-box;

    display: grid;

    padding-bottom: 64px;
    overflow: hidden;
    background-color: var(--st-background-secondary);
    border-left: var(--st-border);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    z-index: 999999;
    transition: box-shadow 200ms;
    animation: floatLeft 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widgets {
    box-shadow: none;
}

#st-start:has(#st-start-widgets.editing) #st-start-header,
#st-start:has(#st-start-widgets.editing) #st-start-schedule {
    opacity: 0.1;
    pointer-events: none;
}

#st-start-widgets-list {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: var(--st-border);
}

#st-start-widget-controls-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 400px;
    padding: 8px;
    z-index: 1000000;
    color: var(--st-foreground-insignificant);
    transition: scale 200ms, opacity 200ms, min-width 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper:hover,
#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper.st-visible,
#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper:has(*:focus-visible) {
    opacity: 1;
    scale: 1;
    transition: scale 200ms, opacity 200ms, min-width 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper {
    min-width: 90px;
    padding: 16px 8px 8px 32px;
    color: var(--st-foreground-primary);
    transition: scale 200ms 1000ms, opacity 200ms 1000ms, min-width 200ms;
}

@media (hover: hover) {
    #st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper {
        opacity: 0;
        scale: 0.9;
    }
}

#st-start-widget-controls {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
    height: 48px;
    padding: 8px;
    background-color: var(--st-background-secondary);
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: calc(var(--st-border-radius) * 2);
    transition: border-color 200ms, box-shadow 200ms;
}

#st-start-widget-controls,
#st-start-widget-controls>* {
    color: currentColor;
}

#st-start-widget-controls>*:hover {
    color: var(--st-foreground-accent);
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls {
    border-color: var(--st-border-color);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-start-collapse-widgets:before {
    scale: 1 1;
    transition: scale 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-collapse-widgets:before {
    scale: -1 1;
}

#st-start-widgets-collapsed-tooltip,
#st-start-widgets-edit-tooltip {
    position: absolute;
    bottom: 84px;
    right: 10px;
    translate: 0 50%;
    max-width: 300px;

    padding: 7px 13px;
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
    border-radius: var(--st-border-radius);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    font: 12px var(--st-font-family-secondary);
    text-align: center;
    text-wrap: balance;
    z-index: 2000000;
    transform-origin: bottom right;
    transform: none;
    opacity: 1;
    pointer-events: none;
    transition: transform 200ms, opacity 200ms;
}

#st-start-widgets-edit-tooltip {
    right: 175px;
    max-width: 210px;
}

#st-start-widgets-collapsed-tooltip:after,
#st-start-widgets-edit-tooltip:after {
    content: '';
    position: absolute;
    left: auto;
    right: 20px;
    top: 100%;
    margin-top: 0;
    border-width: 5px;
    border-style: solid;
    border-color: var(--st-accent-primary) transparent transparent transparent;
}

#st-start-widgets-collapsed-tooltip.st-hidden,
#st-start-widgets-edit-tooltip.st-hidden {
    transform: scale(0);
    opacity: 0;
}

#st-start-widget-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#st-start-widget-progress-text {
    position: absolute;
    bottom: 72px;
    left: 50%;
    translate: -50%;
    color: var(--st-foreground-insignificant);
    font: 11px var(--st-font-family-secondary) !important;
}

.st-widget {
    flex-shrink: 0;
    max-height: 300px;
    padding: 0;
    margin-block: 24px;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#st-start-widgets[data-working=true] .st-widget {
    animation: floatLeft 200ms both, expandIn 400ms cubic-bezier(0.5, 1.2, .8, 1) both;
}

#st-start-widgets.editing .st-widget {
    cursor: move;
}

#st-start-widgets.editing .st-widget * {
    pointer-events: none;
    user-select: none;
}

#st-start-widgets.editing:has(.focused) .st-widget {
    opacity: .5;
}

#st-start-widgets.editing .st-widget.focused {
    opacity: 1 !important;
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    z-index: 2;
}

.st-widget[data-render-type="Tegel"] {
    margin-inline: 24px;
}

.st-widget[data-render-type="Tegel"]+.st-widget[data-render-type="Tegel"] {
    margin-top: 16px;
}

.st-widget[data-render-type="Tegel"]:last-child {
    margin-bottom: 16px;
}

.st-widget[data-render-type="Verborgen"] {
    display: none;
}

.st-widget[data-render-type="Lijst"] {
    border-radius: 0;
    border-inline: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title {
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 20px;
    font: 500 18px/24px var(--st-font-family-primary);
}

.st-widget[data-render-type="Tegel"] .st-widget-title:first-child:last-child {
    padding-bottom: 14px;
    border-bottom: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount]::after {
    content: attr(data-amount);
    font: 18px/24px var(--st-font-family-secondary);
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount='0']:after {
    content: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount='12']:after {
    content: '12+';
}

.st-widget[data-render-type="Lijst"]+.st-widget[data-render-type="Lijst"],
.st-widget[data-render-type="Lijst"]:first-child {
    margin-top: 0;
    border-top: none;
}

.st-widget-title,
a.st-widget-title {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-top: 14px;
    padding-inline: 16px;
    padding-bottom: 10px;
    background-color: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border-bottom: var(--st-border);
    font: 500 16px/24px var(--st-font-family-primary);
}

.st-widget-title[data-amount]:after {
    content: attr(data-amount);
    font: 14px/24px var(--st-font-family-secondary);
}

.st-widget-title[data-amount='0']:after {
    content: none;
}

.st-widget-title[data-amount='12']:after {
    content: '12+';
}

#st-start-edit-widgets-options {
    position: absolute;
    right: 400px;
    top: 0;
    width: 400px;
    height: 100%;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--st-background-secondary);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    border-left: var(--st-border);
    font: 500 16px/24px var(--st-font-family-primary);
    animation: floatLeft 200ms;
}

#st-start-edit-widgets-options:after {
    content: "De widget wordt enkel weergegeven als deze relevante informatie bevat, tenzij anders ingesteld.";
    font: 14px/24px var(--st-font-family-secondary);
}

#st-start-edit-widgets-options:empty:before {
    content: "Widgetopties";
    font: 500 16px/24px var(--st-font-family-primary);
}

#st-start-edit-widgets-options:empty:after {
    content: "Verplaats widgets door te slepen of pas opties aan door eroverheen te bewegen met de muis.";
}

#st-start-edit-widgets-options .st-segmented-control {
    flex-grow: 0;
    width: max-content;
}

#st-start-edit-widgets-options .st-option {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font: 12px var(--st-font-family-secondary);
}

#st-start-edit-widgets-options .st-option select {
    min-width: 128px;
    max-width: 256px;
    padding: 4px 8px;
    background-color: var(--st-background-secondary);
    border: var(--st-border);
    border-radius: calc(var(--st-border-radius) * 0.75);
    font: 12px var(--st-font-family-secondary);
}

#st-start-edit-widgets-hidden {
    position: absolute;
    right: 400px;
    bottom: 0;
    width: 400px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    font: 500 16px/24px var(--st-font-family-primary);
    animation: floatLeft 200ms;
}

#st-start-edit-widgets-hidden:before {
    content: "Verborgen widgets";
    font: 500 16px/24px var(--st-font-family-primary);
}

#st-start-edit-widgets-hidden:empty:after {
    content: "Er zijn geen widgets verborgen. Verberg widgets door 'Verborgen' te kiezen in de opties hierboven.";
    font: 14px/24px var(--st-font-family-secondary);
}

#st-start-edit-widgets-prot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 399px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--st-background-secondary);
    z-index: 1000000;
}

#st-start-widget-grades,
#st-start-widget-digital-clock,
#st-start-widgets *[href] {
    background-color: var(--st-background-secondary);
}

#st-start-widgets:not(.editing) #st-start-widget-grades:hover,
#st-start-widgets:not(.editing) #st-start-widget-digital-clock:not(:fullscreen):hover,
#st-start-widgets:not(.editing) #st-start-widgets *[href]:hover {
    filter: brightness(var(--st-hover-brightness));
    cursor: pointer;
    transition: filter 0;
}

#st-start-widget-grades:focus-visible,
#st-start-widget-digital-clock:focus-visible,
#st-start-widgets *[href]:focus-visible {
    outline: 2px solid var(--st-foreground-primary);
    outline-offset: -4px;
}

#st-start-widget-grades.st-unread {
    background-image: linear-gradient(35deg, var(--st-accent-primary), var(--st-accent-secondary));
}

#st-start-widget-grades.st-unread * {
    color: var(--st-contrast-accent);
}

.st-widget[data-render-type="Tegel"] #st-start-widget-grades-title {
    justify-content: center;
    border-bottom-color: transparent;
    background-color: transparent;
}

.st-widget[data-render-type="Lijst"] #st-start-widget-grades-title {
    padding-bottom: 6px;
    background-color: transparent;
}

#st-start-widget-grades-last {
    display: block;
    font: 500 28px/42px var(--st-font-family-primary);
    text-align: center;
    padding-inline: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#st-start-widget-grades-last-subj,
#st-start-widget-grades-last-date,
#st-start-widget-grades-last-info {
    display: block;
    font: 500 11px/16px var(--st-font-family-secondary);
    text-align: center;
    padding-inline: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#st-start-widget-grades-last-subj {
    font: 600 12px/22px var(--st-font-family-secondary);
}

#st-start-widget-grades-last-date {
    margin-bottom: 28px;
}

#st-start-widget-grades-last-date:after {
    content: attr(data-time);
}

#st-start-widget-grades-more {
    display: block;
    width: 100%;
    padding-inline: 16px;
    text-align: center;
    background-color: var(--st-accent-secondary);
    font: 600 12px/44px var(--st-font-family-secondary);
    margin-top: -8px;
    border-top: var(--st-border);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#st-start-widget-grades-last-hide {
    position: absolute;
    top: 12px;
    right: 16px;
    opacity: 0;
    transition: none;
}

.st-widget[data-render-type="Lijst"] #st-start-widget-grades-last-hide {
    top: auto;
    bottom: 16px;
    right: 16px;
}

#st-start-widget-grades-last-hide:hover,
#st-start-widget-grades-last-hide:focus-visible {
    background-color: #ffffff33;
}

#st-start-widgets:not(.editing) #st-start-widget-grades:hover #st-start-widget-grades-last-hide,
#st-start-widget-grades:focus-visible #st-start-widget-grades-last-hide,
#st-start-widget-grades-last-hide:focus-visible {
    opacity: 1;
}

#st-start-widget-digital-clock {
    padding: 0;
}

#st-start-widget-digital-clock-disclaimer {
    translate: 0 16px;
}

#st-start-widget-digital-clock-time {
    display: inline-block;
    justify-content: center;
    margin-block: 14px;
    min-height: 42px;
    width: 100%;
    font: 600 28px/42px var(--st-font-family-secondary);
    font-variant-numeric: tabular-nums lining-nums;
    text-align: center;
    overflow: hidden;
}

#st-start-widget-digital-clock-time:after {
    content: attr(data-time)
}

[data-render-type="Lijst"] #st-start-widget-digital-clock-time {
    margin-block: 20px;
}

#st-start-widget-digital-clock-wrapper {
    display: flex;
    gap: 3px;
    width: 100%;
    height: 5px;
    margin-top: -5px;
}

#st-start-widget-digital-clock-wrapper>div {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: var(--st-highlight-primary);
}

#st-start-widget-digital-clock-wrapper>div:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--progress) * 100%);
    background-color: var(--st-accent-primary);
}

#st-start-widget-digital-clock-wrapper>div[data-done=true]:after {
    background-color: var(--st-accent-secondary);
}

#st-start-widget-digital-clock:fullscreen {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: none;
    cursor: none;
}

#st-start-widget-digital-clock:fullscreen #st-start-widget-digital-clock-time {
    margin-block: auto;
    font-size: 8vw;
    line-height: normal;
}

#st-start-widget-digital-clock:fullscreen #st-start-widget-digital-clock-wrapper {
    height: 32px;
}

.st-list-item {
    --background-color: var(--st-background-secondary);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-inline: 16px;
    padding-block: 12px;
    background-color: var(--background-color);
    color: var(--st-foreground-primary);
    border: none;
    font: 11px var(--st-font-family-secondary);
    text-align: start;
    cursor: pointer;
}

.st-list-item+.st-list-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--st-border-color);
}

.st-list-title {
    max-width: 60%;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 600 14px var(--st-font-family-secondary);
}

.st-list-timestamp {
    text-align: end;
    z-index: 2;
    font-weight: 600;
    color: var(--st-foreground-insignificant);
}

.st-list-timestamp:after {
    content: attr(data-time);
}

.st-list-content {
    max-height: 30px;
    overflow: hidden;
    color: var(--st-foreground-insignificant);
}

#st-start-widget-homework .st-list-content p {
    color: var(--st-foreground-insignificant);
}

#st-start[data-widgets-collapsed=true] {
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 0px;
}

#st-start-edit-teachers {
    grid-template:
        '. . .' 1fr
        '. heading .' auto
        '. content .' auto
        '. . .' 1fr
        / 1fr auto 1fr;
    row-gap: 16px;
    column-gap: 24px;
}

#st-start-stats {
    grid-template:
        '. . . .' 1fr
        '. heading heading .' auto
        '. left right .' auto
        '. . . .' 1fr
        / 1fr auto auto 1fr;
    row-gap: 16px;
    column-gap: 24px;
}

@media (width < 900px) {
    #st-start-stats {
        grid-template:
            '. . .' 1fr
            '. heading .' auto
            '. left .' auto
            '. right .' auto
            '. . .' 1fr
            / 1fr auto 1fr;
        gap: 16px;
        padding: 0;
    }

    #st-start-edit-teachers {
        gap: 16px;
        padding: 0;
    }
}

#st-start-edit-teachers-wrapper {
    grid-area: content;
}

#st-start-edit-teachers-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(20, auto);
    column-gap: 32px;
}

#st-start-edit-teachers-list>div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
    width: 100%;
}

#st-start-edit-teachers-list>div>.st-input {
    height: auto;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 12px;
}

.st-overlay[id^="st-start"][open] {
    display: grid;
}

.st-overlay[id^="st-start"]>div:first-child {
    grid-area: heading;
    display: grid;
    grid-template:
        'title buttons' auto
        'subtitle subtitle' auto
        / 1fr auto;
}

.st-overlay[id^="st-start"]>div:first-child>.st-title {
    grid-area: title;
}

.st-overlay[id^="st-start"]>div:first-child>.st-subtitle {
    grid-area: subtitle;
}

.st-overlay[id^="st-start"]>div:first-child>.st-button,
.st-overlay[id^="st-start"]>div:first-child>.st-button-wrapper {
    grid-area: buttons;
}

#st-start-stats-teachers {
    grid-area: left;
    width: 100%;
    height: 100%;
}

#st-start-stats-classrooms {
    grid-area: right;
    width: 100%;
    height: 100%;
}

#st-start-stats-teacher-chart,
#st-start-stats-classroom-chart {
    --size: 256px;
}

@keyframes widgetsIn {
    0% {
        display: none;
    }

    1% {
        display: flex;
        translate: 400px;
    }

    100% {
        translate: 0;
    }
}

@keyframes widgetsOut {
    0% {
        translate: 0;
    }

    99% {
        display: flex;
        translate: 400px;
    }

    100% {
        display: none;
    }
}