@property --hour-zoom {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

#st-start button.st-list-item,
#st-start button.st-start-event {
    transition: filter 200ms;
}

#st-start button.st-list-item:hover,
#st-start button.st-list-item:focus-visible,
#st-start button.st-start-event:hover,
#st-start button.st-start-event:focus-visible {
    filter: brightness(var(--st-hover-brightness));
}

#st-start {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 400px;
    overflow: hidden;
    transition: grid-template 200ms, grid-template-columns 200ms;
}

#st-start-header {
    grid-area: header;
    width: 100%;
    display: flex;
    padding: 32px 32px 24px;
    background-color: var(--st-background-primary);
    transition: background-color 200ms;
}

#st-start-header>span {
    transition: opacity 500ms;
}

#st-start-header[data-transition]>span {
    opacity: 0
}

#st-start-header>span:after {
    content: attr(data-last-letter);
}

#st-start-header>span:first-letter {
    text-transform: capitalize;
}

#st-start-schedule {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--st-background-primary);
    transition: background-color 200ms;
}

#st-start-schedule:empty:after,
#st-start-schedule-wrapper:empty:after,
#st-start-col:empty:after {
    content: 'Agenda laden...';
    position: absolute;
    top: 94px;
    left: 32px;
    color: var(--st-foreground-insignificant);
    font: 14px var(--st-font-family-secondary);
}

#st-start-schedule-head {
    display: flex;
    gap: 16px;
    padding-inline: 32px;
}

#st-start-schedule-wrapper {
    --hour-zoom: 1;
    position: relative;
    display: flex;
    gap: 16px;
    padding-inline: 32px;
    height: 100%;
    overflow-y: auto;
    transition: --hour-zoom 200ms;
}

.st-start-tick {
    --relative-start: 0;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * 100px);
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--st-foreground-primary);
    opacity: .04;
}

.st-start-tick.half {
    height: 1px;
    opacity: .02;
}

#st-start-now {
    --relative-start: 0;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * 100px);
    left: 12px;
    height: 2px;
    width: calc(100% - 38px);
    background-image: linear-gradient(to right, var(--st-accent-secondary) 64px, transparent 128px);
    opacity: .5;
    z-index: 0;
}

#st-start-now:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -5px;
    height: 12px;
    width: 12px;
    display: block;
    background-color: var(--st-accent-secondary);
    border-radius: 6px;
}

.st-start-col-head {
    flex: 3 1 0px;
    font: 600 12px/26px var(--st-font-family-secondary);
}

.st-start-col-head:first-letter {
    text-transform: capitalize;
}

.st-start-col {
    position: relative;
    flex: 3 1 0px;
}

.st-start-col[data-today=true],
.st-start-col-head[data-today=true] {
    flex-grow: 4;
}

.st-start-event {
    --relative-start: 0;
    --cols: 1;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * 100px + 2px);
    height: calc(var(--duration) * var(--hour-zoom) * 100px - 3px);
    min-height: 48px;
    width: calc(100% / var(--cols));
    left: calc(100% / var(--cols) * var(--cols-before));
    padding: 12px;
    display: grid;
    grid-template:
        'timeslot subject' auto
        'timeslot teacher' auto
        'timeslot time' 1fr
        / 40px 1fr;
    column-gap: 12px;
    background-color: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border-radius: var(--st-border-radius);
    border: var(--st-border);
    text-align: start;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: filter 200ms, top 200ms, left 200ms, height 200ms, width 200ms;
}

.st-start-event.tight {
    padding-block: 0;
    align-content: center;
    grid-template:
        'timeslot subject subject' auto
        'timeslot teacher time' auto
        / 40px max-content max-content;
}

#st-start-schedule.magister-mode .st-start-event {
    grid-template:
        'timeslot subject' auto
        'timeslot time' 1fr
        / 40px 1fr;
}

[data-magister-mode=true] .st-start-event {
    position: relative;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    border-radius: 0;
    border-top-width: 0;
}

[data-magister-mode=true] .st-start-event:first-child {
    border-top-width: 1px;
}

.st-start-event[data-ongoing=true] {
    background-color: var(--st-highlight-primary);
}

.st-start-event-school-hours {
    grid-area: timeslot;
    height: 40px;
    width: 40px;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--st-highlight-primary);
    border-radius: calc(var(--st-border-radius) / 2);
    font: 600 16px/40px var(--st-font-family-primary);
}

.st-start-event-school-hours.icon {
    font: 16px 'Font Awesome 5 Pro';
}

[data-ongoing=true] .st-start-event-school-hours {
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
}

.st-start-event-subject-wrapper {
    grid-area: subject;
    display: flex;
    gap: 4px;
    width: max-content;
}

.st-start-event-subject {
    display: inline-block;
    font: 600 16px/24px var(--st-font-family-secondary);
}

#st-start-schedule.magister-mode .st-start-event-subject {
    font: 600 16px/24px var(--st-font-family-primary);
}

.st-start-event-teacher {
    grid-area: teacher;
    font: 500 12px/20px var(--st-font-family-secondary);
}

#st-start .st-start-event-teacher-edit {
    display: none;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: var(--st-highlight-primary);
}

#st-start .tight .st-start-event-teacher-edit {
    top: 50%;
    translate: 0 -50%;
}

#st-start.editing .st-start-event-teacher-edit {
    display: block;
}

.st-start-event-location {
    grid-area: location;
    font: 500 16px/24px var(--st-font-family-secondary);
}

.st-start-event-location:not(:empty):before {
    content: ' (';
}

.st-start-event-location:not(:empty):after {
    content: ')';
}

.st-start-event-time {
    grid-area: time;
    font: 500 12px/20px var(--st-font-family-secondary);
}

.st-chips-wrapper {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.st-chip {
    display: inline-block;
    padding-inline: 12px;
    border: 1px solid var(--st-chip-info-border);
    border-radius: 12px;
    background-color: var(--st-chip-info-background);
    font: 500 11px/22px var(--st-font-family-secondary);
}

.st-chip.ok {
    border-color: var(--st-chip-ok-border);
    background-color: var(--st-chip-ok-background);
}

.st-chip.warn {
    border-color: var(--st-chip-warn-border);
    background-color: var(--st-chip-warn-background);
}

.st-chip.exam {
    border-color: var(--st-chip-info-border);
    background-color: var(--st-chip-info-border);
    color: #fff;
}

#st-start-widgets {
    grid-area: widgets;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 400px;
    padding: 32px;
    padding-right: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--st-background-secondary);
    border-left: var(--st-border);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-start:not(.sheet) #st-start-widgets {
    animation: floatLeft 200ms both;
}

#st-start-widget-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#st-start-widget-progress-text {
    position: fixed;
    bottom: 4px;
    left: 50%;
    translate: -50%;
    color: var(--st-foreground-insignificant);
    font: 11px var(--st-font-family-secondary) !important;
}

#st-start-widget-toggler {
    display: none;
}

.st-widget {
    flex-shrink: 0;
    width: 100%;
    max-height: 325px;
    padding: 0;
    padding-top: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: floatLeft 200ms both;
}

.st-widget-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}

.st-widget-title[data-description]:after {
    font-size: 12px;
}

#st-start.editing .st-widget,
#st-start.editing #st-start-start-edit,
#st-start:not(.editing) *[id^='st-start-edit'] {
    display: none;
}

#st-start-start-edit,
#st-start-edit-finish {
    margin-top: auto;
    margin-inline: auto;
}

#st-start-edit-widgets-heading,
#st-start-edit-layout-heading,
#st-start-edit-teachers-heading {
    margin-block: 0;
    text-align: left;
    max-width: 100%;
}

#st-start-edit-divider {
    margin-inline: -16px;
    width: calc(100% + 24px);
    min-height: 1px;
}

#st-start-edit-include,
#st-start-edit-exclude {
    display: inline-block;
    font: 700 16px var(--st-font-family-primary);
    margin-bottom: -4px;
}

#st-start-edit-exclude {
    margin-top: 18px;
    margin-bottom: 12px;
}

#st-start-edit-zoom {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#st-start-widget-counters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

#st-start-widget-grades {
    cursor: pointer;
    transition: filter 200ms;
}

#st-start-widget-grades:hover,
#st-start-widget-grades:focus-visible {
    filter: brightness(var(--st-hover-brightness));
}

#st-start-widget-grades.st-unread {
    background-image: linear-gradient(35deg, var(--st-accent-primary), var(--st-accent-secondary));
}

#st-start-widget-grades.st-unread * {
    color: var(--st-contrast-accent);
}

#st-start-widget-grades-last {
    display: block;
    font: 500 28px/42px var(--st-font-family-primary);
    text-align: center;
    padding-inline: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#st-start-widget-grades-last-subj,
#st-start-widget-grades-last-date,
#st-start-widget-grades-last-info {
    display: block;
    font: 500 11px/16px var(--st-font-family-secondary);
    text-align: center;
    padding-inline: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#st-start-widget-grades-last-subj {
    font: 600 12px/22px var(--st-font-family-secondary);
}

#st-start-widget-grades-last-date {
    margin-bottom: 28px;
}

#st-start-widget-grades-more {
    display: block;
    width: 100%;
    padding-inline: 16px;
    text-align: center;
    background-color: var(--st-accent-secondary);
    font: 600 12px/44px var(--st-font-family-secondary);
    margin-top: -8px;
    border-top: var(--st-border);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#st-start-widget-grades-last-hide {
    position: absolute;
    top: 12px;
    right: 16px;
    opacity: 0;
    transition: opacity 200ms, filter 200ms, transform 200ms, background-color 200ms, color 200ms;
}

#st-start-widget-grades:hover #st-start-widget-grades-last-hide,
#st-start-widget-grades:focus-visible #st-start-widget-grades-last-hide {
    opacity: 1;
}

.st-list-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-inline: 16px;
    padding-block: 12px;
    background-color: var(--st-background-secondary);
    border: none;
    font: 11px var(--st-font-family-secondary);
    text-align: start;
    cursor: pointer;
}

.st-list-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    width: calc(100% - 32px);
    height: 1px;
    background: var(--st-border-color);
}

.st-list-title {
    max-width: 60%;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 600 14px var(--st-font-family-secondary);
}

.st-list-timestamp {
    position: absolute;
    top: 12px;
    right: 16px;
    max-width: 40%;
    text-align: end;
}

.st-list-content {
    max-height: 30px;
    overflow: hidden;
}

.st-list-content.overflow:before {
    content: '';
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--st-background-secondary));
}

#st-start #st-start-button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    position: fixed;
    top: 32px;
    right: 432px;
    border-radius: 4px;
    background-color: var(--st-background-primary);
    transition: right 200ms, background-color 200ms;
}

#st-start.sheet #st-start-button-wrapper {
    right: 32px;
}

#st-start.sheet.sheet-shown #st-start-button-wrapper {
    right: 432px;
}

#st-start.sheet {
    grid-template:
        'header' auto
        'schedule' 1fr
        'widgets' auto
        / 1fr;
}

#st-start.sheet #st-start-widgets {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 8px;
    border-radius: var(--st-border-radius);
    border: var(--st-border);
    background-color: var(--st-background-transparent);
    backdrop-filter: blur(4px);
    animation: widgetsOut 200ms both;
}

#st-start.sheet.sheet-shown #st-start-widgets {
    animation: widgetsIn 100ms both;
}

#st-start.sheet #st-start-widget-toggler {
    display: block;
    rotate: 0;
    transition: rotate 200ms, filter 200ms;
}

#st-start.sheet.sheet-shown #st-start-widget-toggler {
    rotate: 180deg;
    transition: rotate 200ms, filter 200ms;
}

@keyframes widgetsIn {
    0% {
        display: none;
    }

    1% {
        display: flex;
        translate: 400px;
    }

    100% {
        translate: 0;
    }
}

@keyframes widgetsOut {
    0% {
        translate: 0;
    }

    99% {
        display: flex;
        translate: 400px;
    }

    100% {
        display: none;
    }
}