@font-face {
    font-family: material-icons;
    src: url(icons.otf);
}

:root {
    --hue: 207;
    --saturation: 95%;
    --luminance: 55%;
    --font: 'Noto Sans';
    --color: hsl(var(--hue),
            var(--saturation),
            var(--luminance));
    --background: #fff;
    --backgroundWarn: #fff6f6;
    --backgroundOk: #f8fff6;
    --backgroundSel: hsla(var(--hue),
            var(--saturation),
            var(--luminance), .1);
    --backgroundIntense: #fafafa;
    --text: #000;
    --textWarn: #b70000;
    --textIntense: #777;
    --border: #0000000d;
    --borderActive: #00000033;
    --outline: #0000001a;
    --shadow: #000000bf;
    --shadowActive: #000;
    --inactive: #ddd;
    --brightnessActive: .9;
    --brightnessHover: .8;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --backgroundWarn: #181111;
        --backgroundOk: #121611;
        --backgroundSel: hsla(var(--hue),
                var(--saturation),
                var(--luminance), .1);
        --backgroundIntense: #0c0c0c;
        --text: #fff;
        --textWarn: #ce4a4a;
        --textIntense: #777;
        --border: #ffffff0d;
        --borderActive: #ffffff33;
        --outline: #ffffff1a;
        --shadow: #000;
        --shadowActive: #000;
        --inactive: #444;
        --brightnessActive: 1.35;
        --brightnessHover: 1.5;
        color-scheme: dark;
    }
}

* {
    font-family: var(--font), sans-serif;
    transition: opacity 200ms, translate 200ms cubic-bezier(1, 0, 0, 1), scale 300ms cubic-bezier(0.34, 1.56, 0.64, 1), rotate 300ms cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 200ms, max-height 200ms, padding 200ms, margin 200ms;
    overflow-x: hidden;
}

body {
    display: grid;
    width: 500px;
    height: 600px;
    grid-template:
        'header header' 90px
        'aside main' 1fr
        / 36% 64%;
    background: var(--backgroundIntense);
    margin: 0;
    user-select: none;
}

header {
    position: absolute;
    width: 100%;
    height: 90px;
    grid-area: header;
    background: var(--color);
    color: #fff;
    z-index: 2;
    transition: height 200ms;
}

header.splash {
    height: 100%;
}

header #headerContent {
    display: grid;
    align-content: center;
    gap: 8px;
    position: absolute;
    left: 12px;
    top: 50%;
    translate: 0 -50%;
    transition: left 200ms, translate 200ms;
}

header #headerSubtitle {
    margin: 0;
}

header .icon {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 70px;
    color: #333;
    opacity: 0.1;
}

header.splash #headerContent {
    left: 50%;
    translate: -50% -50%;
}

main {
    grid-area: main;
}

#settings-wrapper>section {
    background: var(--background);
    min-height: max-content;
}

aside {
    grid-area: aside;
    border-right: solid 1px var(--border);
}

aside a {
    display: block;
    padding: 9px;
    font-size: 14px;
    font-weight: 500;
    background: var(--background);
    border-top: solid 1px var(--border);
    cursor: pointer;
}

aside a:last-child {
    border-bottom: solid 1px var(--border);
}

aside a[data-active=true] {
    filter: brightness(var(--brightnessActive));
}

p,
label {
    font-size: 14px;
    font-weight: 500;
}

a {
    transition: filter 200ms, padding-left 200ms;
}

a:hover {
    filter: brightness(var(--brightnessHover)) !important;
    padding-left: 12px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h1:after {
    content: '.';
    color: #ff8205;
}

h3 {
    padding-top: 16px;
    padding-bottom: 6px;
    padding-left: 9px;
    width: 100%;
    background: var(--backgroundIntense);
    color: var(--textIntense);
    font-size: 14px;
}

h4 {
    font: 500 14px var(--font), sans-serif;
}

h5 {
    font: 400 11px var(--font), sans-serif;
    color: #808080;
}

i {
    color: #808080;
    font-size: 11px;
    font-style: normal;
}

.icon {
    font-family: 'material-icons';
}

#section-about>*:not(:first-child),
.select>* {
    margin: 6px 5px;
    padding: 6px 9px;
    padding-right: 30px;
    background: var(--background);
    border-radius: 9px;
    border: solid 1px var(--border);
    font-size: 12px;
}

#section-about>a {
    position: relative;
    display: block;
    background: linear-gradient(300deg, rgb(34, 117, 56), rgb(31, 95, 69));
    color: var(--text);
    text-decoration: none;
}

#section-about>a:after {
    position: absolute;
    top: 50%;
    right: 7px;
    translate: 0 -50%;
    content: '\f8ce';
    font-family: 'material-icons';
    font-weight: 400;
    font-size: 16px;
}

#section-about>*:nth-child(2) {
    background: linear-gradient(300deg, hsl(130, 40%, 29%), hsl(130, 36%, 30%));
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

#section-about>*:nth-child(3) {
    background: linear-gradient(300deg, hsl(209, 40%, 29%), hsl(209, 36%, 30%));
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

label {
    display: grid;
    align-items: center;
    gap: 3px;
    min-height: 20px;
    padding: 10px 0;
    overflow: hidden;
    transition: scale 200ms, min-height 200ms, max-height 200ms, padding 200ms, margin 200ms, border 200ms, background-color 200ms, color 200ms, filter 200ms, opacity 200ms;
}

label[data-appear=false] {
    opacity: .3;
    pointer-events: none;
}

section>label {
    padding: 11px;
    border-top: solid 1px var(--border);
}

section>label:last-child {
    border-bottom: solid 1px var(--border);
}

label.has-checkbox {
    grid-template: 'title input' / 1fr 40px;
    cursor: pointer;
}

label.has-text {
    grid-template:
        'title' auto
        'input' auto
        / 1fr;
}

label.has-key {
    grid-template:
        'title input' auto
        / 1fr auto;
}

label.has-select {
    grid-template-rows: auto;
}

label.has-select:has(.collapse) {
    cursor: pointer;
}

label.has-color-picker {
    gap: 0;
    grid-template-rows: auto;
}

label.has-slider {
    max-height: 50px;
    grid-template:
        'title default current' auto
        'input input input' auto
        / 1fr auto auto;
}

label.large,
[role=listitem].long {
    max-height: 200vh !important;
}

label {
    position: relative;
}

label.new {
    background: var(--backgroundOk);
}

label[data-saved="not-saved"] {
    background: var(--backgroundWarn);
    color: var(--textWarn);
}

label[data-saved^="saved"] {
    background: var(--backgroundOk);
}

label.collapse {
    min-height: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    overflow: hidden;
}

label>input {
    grid-area: input;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 24px;
    margin: 0;
    border-radius: 7px;
    background: var(--background);
    cursor: pointer;
    outline: solid 1px var(--outline);
    box-shadow: 0px 6px 16px -8px var(--shadow);
}

input[type="checkbox"]:after {
    display: block;
    content: 'close';
    font-family: 'material-icons';
    font-size: 24px;
    width: 24px;
    height: 24px;
    border-radius: 7px;
    background: var(--inactive);
    scale: .75;
    translate: 0;
    transition: translate 400ms cubic-bezier(0.34, 1.56, 0.64, 1), scale 200ms;
}

input[type="checkbox"]:checked:after {
    background: var(--color);
    color: #fff;
    content: 'done';
    translate: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

label:hover input[type="checkbox"] {
    scale: 1.1;
    box-shadow: 0px 8px 20px -8px var(--shadow);
}

label:active input[type="checkbox"] {
    scale: .9;
    box-shadow: 0px 3px 8px -4px var(--shadowActive);
}

label:active input[type="checkbox"]:after {
    scale: .65;
}

label>.default-value {
    font-size: 11px;
    opacity: 0;
    text-align: end;
}

label:hover>.default-value {
    opacity: .8;
}

label>.default-value:before {
    content: 'Standaard: ';
    font-size: 9px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 7px 0 5px 0;
    overflow: visible;
    border-radius: 4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--background);
    outline: solid 1px var(--outline);
    box-shadow: 0px 1px 10px -2px var(--shadow);
    margin: -7px 0;
    cursor: ew-resize;
    transition: box-shadow 200ms, scale 200ms, margin 200ms;
}

input[type=range]:hover,
input[type=range]:active {
    margin: 4px 0 2px 0;
}

input[type=range]:hover::-webkit-slider-thumb {
    scale: 1.2;
    box-shadow: 0px 2px 12px -3px var(--shadow);
    margin: -4px 0;
}

input[type=range]:active::-webkit-slider-thumb {
    scale: .8;
    box-shadow: 0px .5px 5px -1px var(--shadow);
    margin: -4px 0;
}

.select {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    gap: 5px;
    transition: gap 200ms, scale 200ms, box-shadow 200ms;
}

.select.collapse {
    gap: 2px;
}

.select>* {
    position: relative;
    min-height: 29px;
    max-height: 29px;
    margin: 0;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    box-shadow: 0px 4px 8px -8px var(--shadow);
    transition: min-height 200ms, max-height 200ms, padding 200ms, margin 200ms, background 200ms, scale 200ms, box-shadow 200ms;
}

.select>*[data-selected=true] {
    background: var(--backgroundSel);
    pointer-events: none;
}

.select.collapse>*:not([data-selected=true]) {
    min-height: 0;
    max-height: 0;
    padding: 0 9px;
    margin: 0 9px;
    cursor: pointer;
    pointer-events: none;
}

.select.collapse>*[data-selected=true] {
    background: var(--background);
}

.select>*:after {
    position: absolute;
    top: 50%;
    right: 7px;
    translate: 0 -50%;
    content: '\e5ca';
    color: var(--color);
    font-family: 'material-icons';
    font-weight: 400;
    font-size: 16px;
    opacity: 0;
    transition: rotate 200ms, opacity 200ms;
}

.select>*[data-selected=true]:after {
    opacity: 1;
}

.select.collapse>*[data-selected=true]:after {
    content: '\e5ce';
    font-size: 22px;
    rotate: 180deg;
    right: 4px;
}

label:hover .select.collapse>*[data-selected=true],
.select>button:hover {
    scale: 1.02;
    box-shadow: 0px 5px 10px -8px var(--shadow);
}

label:active .select.collapse>*[data-selected=true],
.select>button:active {
    scale: .98;
    box-shadow: 0px 3px 5px -4px var(--shadow);
}

input[type=text].input-key {
    border-radius: 7px;
    cursor: pointer;
    outline: solid 1px var(--outline) !important;
    border: none !important;
    padding: 4px 1px;
    max-width: 75px;
    margin: 0;
    text-align: center;
    box-shadow: 0px 6px 16px -8px var(--shadow);
}

label:hover>input[type=text].input-key {
    scale: 1.1;
    box-shadow: 0px 8px 20px -8px var(--shadow);
}

label:active>input[type=text].input-key {
    scale: .9;
    box-shadow: 0px 3px 8px -4px var(--shadowActive);
}

input[type=text].input-key:focus {
    outline-color: hsl(var(--hue), var(--saturation), var(--luminance)) !important;
    box-shadow: 0px 8px 20px -8px var(--shadow);
}

input[type=text],
input[type=email],
input[type=password] {
    min-height: 24px;
    padding: 1px 0;
    margin: 0 2px;
    border: none;
    overflow: hidden;
    background: var(--background);
    border-bottom: solid 1px var(--outline);
    box-shadow: 0px 4px 6px -8px var(--shadow);
}

label:hover>input[type=text],
label:hover>input[type=email],
label:hover>input[type=password],
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
    border-bottom: solid 1px var(--borderActive);
    box-shadow: 0px 4px 10px -8px var(--shadow);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: var(--color) !important;
    outline: none;
    box-shadow: 0px 8px 16px -8px hsla(var(--hue), var(--saturation), var(--luminance), 0.75) !important;
}

input[type=text]:active,
input[type=email]:active,
input[type=password]:active {
    scale: 0.97;
}

#quick-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: visible;
    padding: 6px 0;
}

#quick-colors>button {
    position: relative;
    overflow: hidden;
    width: 32px;
    aspect-ratio: 1;
    border-radius: 100%;
    outline: solid 1px var(--outline);
    border: none;
    padding: 0;
    box-shadow: 0px 6px 16px -8px var(--shadow);
    background: var(--background);
    color: var(--color);
    cursor: pointer;
    transition: scale 200ms, box-shadow 200ms;
}

#quick-colors>button.swatch {
    color: #fff;
    font-size: 18px;
}

#quick-colors>button:hover {
    scale: 1.1;
    box-shadow: 0px 8px 20px -8px var(--shadow);
}

#quick-colors>button:active {
    scale: .9;
    box-shadow: 0px 3px 8px -4px var(--shadowActive);
}

#quick-colors>button:after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    text-align: center;
    font: 22px material-icons;
    transition: rotate 200ms, opacity 200ms;
}

#quick-colors>button.swatch:after {
    content: '\e5ca';
    font-size: 18px;
    opacity: 0;
}

#quick-colors>button.swatch.active:after {
    opacity: 1;
}

#quick-colors>button>.icon {
    width: 100%;
    overflow: hidden;
}

#color-eyedropper:after {
    content: '\e3b8';
}

#color-eyedropper:active:after {
    rotate: -45deg;
    content: '\e3b8';
}

#color-advanced-toggle:after {
    content: '\e145';
    rotate: 135deg;
}

#color-advanced-toggle:active:after {
    rotate: 150deg;
}

#color-advanced-toggle.collapse:after {
    rotate: 0deg;
}

#color-advanced-toggle.collapse:active:after {
    rotate: -15deg;
}

#magister-subjects {
    display: grid;
    grid-template-rows: auto;
}

#magister-subjects>div {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#magister-subjects>div:last-child {
    position: relative;
    opacity: .5;
}

#magister-subjects>div:last-child:not(:focus, :focus-within):after {
    position: absolute;
    top: 0;
    left: 0;
    content: 'create';
    translate: 0 4px;
    font-family: 'material-icons';
    font-size: 16px;
    pointer-events: none;
}

#magister-subjects>div:last-child:not(:focus, :focus-within):before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'Toevoegen...';
    translate: 20px 4px;
    font-size: 12px;
    pointer-events: none;
}

details {
    cursor: pointer;
}

details>summary {
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #1a7ecf;
}

details[open]>summary {
    margin-bottom: 6px;
}

details[open] .details-show-when-collapsed {
    display: none;
}

.hide {
    display: none;
}

input[type=range] {
    background: var(--color)
}

input#magister-css-hue {
    background: linear-gradient(to right,
            hsl(0, var(--saturation), var(--luminance)) 0%,
            hsl(60, var(--saturation), var(--luminance)) 16.67%,
            hsl(120, var(--saturation), var(--luminance)) 33.33%,
            hsl(180, var(--saturation), var(--luminance)) 50%,
            hsl(240, var(--saturation), var(--luminance)) 66.67%,
            hsl(320, var(--saturation), var(--luminance)) 83.33%,
            hsl(360, var(--saturation), var(--luminance)) 100%)
}

input#magister-css-saturation {
    background: linear-gradient(to right,
            hsl(var(--hue), 0%, var(--luminance)) 0%,
            hsl(var(--hue), 16.67%, var(--luminance)) 16.67%,
            hsl(var(--hue), 33.33%, var(--luminance)) 33.33%,
            hsl(var(--hue), 50%, var(--luminance)) 50%,
            hsl(var(--hue), 66.67%, var(--luminance)) 66.67%,
            hsl(var(--hue), 83.33%, var(--luminance)) 83.33%,
            hsl(var(--hue), 100%, var(--luminance)) 100%)
}

input#magister-css-luminance {
    background: linear-gradient(to right,
            hsl(var(--hue), var(--saturation), 0%) 0%,
            hsl(var(--hue), var(--saturation), 16.67%) 16.67%,
            hsl(var(--hue), var(--saturation), 33.33%) 33.33%,
            hsl(var(--hue), var(--saturation), 50%) 50%,
            hsl(var(--hue), var(--saturation), 66.67%) 66.67%,
            hsl(var(--hue), var(--saturation), 83.33%) 83.33%,
            hsl(var(--hue), var(--saturation), 100%) 100%)
}

#st-snackbars {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(18deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    transition: background 200ms, opacity 200ms, padding 200ms;
}

#st-snackbars:has(div) {
    padding: 32px;
    opacity: 1;
    background: radial-gradient(at bottom left, var(--shadow) 0%, rgba(0, 0, 0, 0) 70%);
    z-index: 99999999;
}

#st-snackbars>div {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    min-height: 20px;
    max-height: 210px;
    translate: 0 150%;
    opacity: 0;
    background-color: var(--background);
    color: var(--text);
    padding: 14px 20px;
    margin-top: 16px;
    border-radius: 8px;
    font: 500 14px var(--font), system-ui;
    border: 1px solid var(--border);
    box-shadow: 0 0 8px 0 var(--shadow);
    transition: translate 200ms, opacity 200ms, max-height 200ms, min-height 200ms, padding 200ms, margin 200ms, line-height 200ms;
}

#st-snackbars>div.open {
    translate: 0;
    opacity: 1;
}

#st-snackbars>div:not(.open) {
    max-height: 0;
    min-height: 0;
    padding: 0 20px;
    margin-top: 0;
    overflow: hidden;
    line-height: 0;
    pointer-events: none;
}

#st-snackbars>div>a {
    min-width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

@-moz-document url-prefix() {
    input[type="checkbox"]:checked:after {
        font-size: 20px;
    }

    input[type="range"] {
        height: 2px;
        transition: height 200ms, margin 200ms;
    }

    input[type="range"]:hover,
    input[type="range"]:active {
        height: 8px;
        margin: 4px 0 2px;
    }

    input[type="range"]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: var(--background);
        outline: solid 1px var(--outline);
        box-shadow: 0px 1px 10px -2px var(--shadow);
        margin: -7px 0;
        transition: box-shadow 200ms, scale 200ms, margin 200ms;
    }
}