@font-face {
    font-family: material-icons;
    src: url(../assets/icons.otf);
}

:root {
    --hue: 207;
    --saturation: 95%;
    --luminance: 55%;
    --color: hsl(var(--hue),
            var(--saturation),
            var(--luminance));
}

* {
    font-family: 'Montserrat', sans-serif;
    transition: background 200ms, background-color 200ms, opacity 200ms, translate 200ms cubic-bezier(1, 0, 0, 1), scale 300ms cubic-bezier(0.34, 1.56, 0.64, 1), rotate 300ms cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 200ms, max-height 200ms, padding 200ms, margin 200ms;
    overflow-x: hidden;
}

body {
    background: #fafafa;
    width: 360px;
    min-height: 600px;
    margin: 0;
    user-select: none;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    background: var(--color);
    color: white;
    padding: 12px;
    overflow: hidden;
}

html[data-section] header {
    cursor: pointer;
}

main {
    padding-top: 90px;
}

section {
    position: absolute;
    translate: 360px;
    width: 100%;
    height: calc(100% - 90px);
    bottom: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    pointer-events: none;
}

#sectionPicker {
    height: calc(100% - 90px);
}

section.open {
    translate: 0;
    pointer-events: unset;
}

p,
label,
#sectionPicker div {
    font-size: 14px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 6px 0;
}

header>h1 {
    margin: 0;
    translate: 0 6px;
}

h1 {
    font-size: 24px;
}

h1:after {
    content: '.';
    color: #ff8205;
}

h3 {
    margin-top: 12px;
    margin-left: 9px;
    display: flex;
    width: 100%;
    align-items: center;
    color: #777;
    font-size: 14px;
}

i {
    color: #808080;
    font-size: 11px;
    margin-top: -4px;
    font-style: normal;
}

.icon {
    font-family: 'material-icons';
}

label,
#sectionPicker div[role=listitem] {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: stretch;
    max-height: 100px;
    padding: 9px;
    background: #fff;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: scale 200ms, max-height 200ms, padding 200ms, background-color 200ms;
}

label:last-child,
#sectionPicker div[role=listitem]:last-child {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

label.large,
[role=listitem].long {
    max-height: 200vh !important;
}

label>div:first-child,
#sectionPicker>div>div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
}

label[data-checkbox] {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 40px;
    cursor: pointer;
}

label {
    position: relative;
}

label:after {
    position: absolute;
    top: 0;
    right: 0;
    content: 'sync';
    translate: 100px;
    font-family: 'material-icons';
    transition: translate 200ms;
}

label:before {
    position: absolute;
    top: 0;
    right: 16px;
    content: 'Opgeslagen';
    translate: 100px;
    font-size: 10px;
    transition: translate 200ms;
}

label.new {
    background: #f6fcff;
}

label.new:after {
    content: 'star';
    translate: 0;
}

label.new:before {
    content: 'Nieuw!';
    translate: 0;
}

label[data-saved="not-saved"] {
    background: #fff6f6;
}

label[data-saved="not-saved"]:after {
    content: 'sync';
    translate: 0;
    animation: rotation 2s infinite linear;
}

label[data-saved="not-saved"]:before {
    content: 'Niet opgeslagen';
    translate: 0;
}

label[data-saved="saved"] {
    background: #f6fcff;
}

label[data-saved="saved"]:after {
    content: 'sync';
    translate: 100px;
}

label[data-saved="saved"]:before {
    content: 'Opgeslagen';
    translate: 14px;
}

#sectionPicker {
    position: absolute;
    width: 100%;
}

#sectionPicker div[role=listitem] {
    align-items: flex-start;
    cursor: pointer;
}

#sectionPicker div[disabled] {
    cursor: auto;
}

html[data-section] #sectionPicker {
    translate: -360px;
}

#sectionReturn {
    position: absolute;
    font-family: 'material-icons';
    font-size: 24px;
    top: 52px;
}

header:active #sectionReturn {
    translate: 4px;
    scale: .8 1;
}

html[data-section] header:active~main>section.open {
    translate: 10px;
}

html:not([data-section]) #sectionReturn {
    translate: -40px;
    scale: 1.2 1;
}

html[data-section] #sectionName {
    translate: 30px;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 24px;
    margin: 0;
    border-radius: 7px;
    background: #fff;
    cursor: pointer;
    outline: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.75);
}

input[type="checkbox"]:after {
    display: block;
    content: 'close';
    font-family: 'material-icons';
    font-size: 24px;
    width: 24px;
    height: 24px;
    border-radius: 7px;
    background: #ddd;
    scale: .75;
    translate: 0;
    transition: translate 400ms cubic-bezier(0.34, 1.56, 0.64, 1), scale 200ms;
}

input[type="checkbox"]:checked:after {
    background: var(--color);
    color: #fff;
    content: 'done';
    translate: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

label:hover input[type="checkbox"] {
    scale: 1.1;
    box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.75);
}

label:active input[type="checkbox"] {
    scale: .9;
    box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 1);
}

label:active input[type="checkbox"]:after {
    scale: .65;
}

label[data-range]>div {
    position: absolute;
    top: 12px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 6px;
    font-size: 14px;
}

label[data-range]>div>.default-value {
    font-size: 11px;
    opacity: 0;
    text-align: end;
}

label[data-range]:hover>div>.default-value {
    opacity: .8;
}

label[data-range]>div>.default-value:before {
    content: 'Standaard: ';
    font-size: 9px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 7px 0 5px 0;
    overflow: visible;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    outline: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
    margin: -7px 0;
    transition: box-shadow 200ms, scale 200ms, margin 200ms;
}

input[type=range]:hover,
input[type=range]:active {
    margin: 4px 0 2px 0;
}

input[type=range]:hover::-webkit-slider-thumb {
    scale: 1.2;
    box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0.75);
    margin: -4px 0;
}

input[type=range]:active::-webkit-slider-thumb {
    scale: .8;
    box-shadow: 0px .5px 5px -1px rgba(0, 0, 0, 0.75);
    margin: -4px 0;
}

input[type=text],
input[type=email],
input[type=password] {
    min-height: 24px;
    padding: 1px 0;
    margin: 0 2px;
    border: none;
    overflow: hidden;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 6px -8px rgba(0, 0, 0, 0.75);
}

label:hover>input[type=text],
label:hover>input[type=email],
label:hover>input[type=password],
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.75);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: var(--color) !important;
    outline: none;
    box-shadow: 0px 8px 16px -8px rgba(31, 151, 249, 0.75) !important;
}

input[type=text]:active,
input[type=email]:active,
input[type=password]:active {
    scale: 0.97;
}

.grid-subjects {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#magister-subjects .grid-subjects:last-child {
    position: relative;
    opacity: .5;
}

#magister-subjects .grid-subjects:last-child:not(:focus, :focus-within):after {
    position: absolute;
    top: 0;
    left: 0;
    content: 'create';
    translate: 0 4px;
    font-family: 'material-icons';
    font-size: 16px;
    pointer-events: none;
}

#magister-subjects .grid-subjects:last-child:not(:focus, :focus-within):before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'Toevoegen...';
    translate: 20px 4px;
    font-size: 12px;
    pointer-events: none;
}

label>.grid-subjects {
    margin-top: 12px;
}

details {
    cursor: pointer;
}

details>summary {
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #1a7ecf;
}

details[open]>summary {
    margin-bottom: 6px;
}

details[open] .details-show-when-collapsed {
    display: none;
}

.collapse {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
}

.hide {
    display: none;
}

input#magister-css-hue {
    background: linear-gradient(to right,
            hsl(0, var(--saturation), var(--luminance)) 0%,
            hsl(60, var(--saturation), var(--luminance)) 16.67%,
            hsl(120, var(--saturation), var(--luminance)) 33.33%,
            hsl(180, var(--saturation), var(--luminance)) 50%,
            hsl(240, var(--saturation), var(--luminance)) 66.67%,
            hsl(320, var(--saturation), var(--luminance)) 83.33%,
            hsl(360, var(--saturation), var(--luminance)) 100%)
}

input#magister-css-saturation {
    background: linear-gradient(to right,
            hsl(var(--hue), 0%, var(--luminance)) 0%,
            hsl(var(--hue), 16.67%, var(--luminance)) 16.67%,
            hsl(var(--hue), 33.33%, var(--luminance)) 33.33%,
            hsl(var(--hue), 50%, var(--luminance)) 50%,
            hsl(var(--hue), 66.67%, var(--luminance)) 66.67%,
            hsl(var(--hue), 83.33%, var(--luminance)) 83.33%,
            hsl(var(--hue), 100%, var(--luminance)) 100%)
}

input#magister-css-luminance {
    background: linear-gradient(to right,
            hsl(var(--hue), var(--saturation), 0%) 0%,
            hsl(var(--hue), var(--saturation), 16.67%) 16.67%,
            hsl(var(--hue), var(--saturation), 33.33%) 33.33%,
            hsl(var(--hue), var(--saturation), 50%) 50%,
            hsl(var(--hue), var(--saturation), 66.67%) 66.67%,
            hsl(var(--hue), var(--saturation), 83.33%) 83.33%,
            hsl(var(--hue), var(--saturation), 100%) 100%)
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

@-moz-document url-prefix() {
    #sectionReturn {
        top: 50px;
    }

    input[type="checkbox"]:checked:after {
        font-size: 20px;
    }

    input[type="range"] {
        height: 2px;
        transition: height 200ms, margin 200ms;
    }

    input[type="range"]:hover,
    input[type="range"]:active {
        height: 8px;
        margin: 4px 0 2px;
    }

    input[type="range"]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #fff;
        outline: solid 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
        margin: -7px 0;
        transition: box-shadow 200ms, scale 200ms, margin 200ms;
    }
}