body {
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 27.5em;
    margin: 0;
    background-color: #d8d8d8;
    user-select: none;
    transition: min-width 200ms;
}

body.wide {
    min-width: 35em;
}

body>div,
body>section {
    padding: .5em 1em;
}

body>div:nth-child(1) {
    background-color: #1f97f9;
    color: white;
}

body>section {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
}

h1:after {
    content: '.';
    color: #ff8205;
}

h2 {
    display: flex;
    justify-content: space-between;
}

h3 {
    display: flex;
    width: 100%;
    align-items: center;
}

h3:after {
    content: '';
    border-top: 1px solid #d8d8d8;
    margin-left: .5em;
    flex: 1 0 .5em;
}

i {
    color: #808080;
    font-size: 11px;
    margin-top: -4px;
}

label {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    min-height: 2em;
}

label:has(textarea),
label.large {
    flex-direction: column;
    padding-bottom: 1em;
}

input {
    margin: 0;
    margin-bottom: .5em;
    background-color: #ffffff;
    font: inherit;
    outline-width: .15em;
    outline-style: solid;
    outline-color: #000;
    border: none;
    border-radius: .15em;
}

label:not(.large) input {
    color: currentColor;
    outline-color: currentColor;
}

input:hover {
    color: currentColor;
    outline-color: currentColor;
}

textarea {
    font-family: system-ui, sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    color: currentColor;
    font: inherit;
    outline: .15em solid currentColor;
    border: none;
    border-radius: .15em;
    min-height: 5em;
    resize: vertical;
}


input[type=checkbox] {
    appearance: none;
    height: 1.15em;
    width: 1.15em;
    border: .2em solid white;
}

input[type=checkbox]:checked {
    background: #1f97f9;
}

label:hover {
    color: #808080
}

label:hover>input,
label:hover>textarea {
    color: #1f97f9;
}

label:hover>input[type=checkbox] {
    border: .3em solid white;
}

label:focus>input,
label:active>input,
input:focus,
input:active,
textarea:focus,
textarea:active,
.allbutton:focus,
.allbutton:active {
    box-shadow: 0 0 0 .3em #1f97f980;
}

label:first-of-type:has(input[type=checkbox]:not(:checked))~label.link-first {
    opacity: .5;
    pointer-events: none;
}

label:first-of-type:has(input[type=checkbox]:not(:checked))~label.link-first>input[type=checkbox] {
    background: none;
}

.allbutton {
    background: #1f97f9;
    color: #ffffff;
    border: none;
    border-radius: .15em;
}

.allbutton:not(:disabled):hover,
.allbutton:focus,
.allbutton:hover {
    background: #1a7ecf;
    outline: none;
}

.allbutton:disabled {
    opacity: 0.5;
}

.grid-subjects {
    display: grid;
    grid-template-columns: calc(24.5em / 2) calc(24.5em / 2) 0;
    gap: 0 0.5em;
    max-width: 100%;
}

.grid-subjects input {
    height: 18px;
}

.input-color-container {
    display: none;
    position: relative;
    overflow: hidden;
    height: 18px;
    outline-width: .15em;
    outline-style: solid;
    outline-color: #000;
    border: none;
    border-radius: .15em;
}

input[type=color] {
    position: absolute;
    left: -1em;
    top: -8px;
    width: 70px;
    height: 38px;
    border: none;
}

#magister-subjects .grid-subjects:last-child {
    opacity: .5;
}

details {
    cursor: pointer;
}

details>summary {
    list-style: none;
    text-decoration: underline;
    text-decoration-color: #1a7ecf;
}

details[open]>summary {
    margin-bottom: 0.5em;
}

details[open] .details-show-when-collapsed {
    display: none;
}