@property --hour-height {
    syntax: "<length>";
    inherits: true;
    initial-value: 115px;
}

@property --progress {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

#st-start button.st-widget-subitem:focus-visible,
#st-start button.st-event:focus-visible {
    outline: 2px solid var(--st-foreground-accent);
    outline-offset: -2px;
}

#st-start {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 400px;
    overflow: hidden;
    transition: grid-template 200ms, grid-template-columns 200ms;
}

#st-start-header {
    grid-area: header;
    position: relative;
    width: 100%;
    height: 84px;
    box-sizing: border-box;
    display: grid;
    grid-template:
        'text buttons' 32px
        / 1fr auto;
    align-items: center;
    padding: 32px 32px 20px;
    transition: background-color 200ms, padding-right 200ms, opacity 200ms;
}

#st-start-header-text-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 100% 100%;
    overflow: hidden;
}

#st-start-header-text,
#st-start-header-greeting {
    flex: 1;
    margin-bottom: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 300ms;
}

#st-start-header-greeting {
    translate: -100%;
}

#st-start-header-text[data-state="visible"],
#st-start-header-greeting[data-state="visible"] {
    animation: 150ms flipDownIn 150ms both;
}

#st-start-header-text[data-state="hidden"],
#st-start-header-greeting[data-state="hidden"] {
    animation: 150ms flipUpOut both;
}

#st-start-header-text.de-emphasis {
    font-style: normal;
    font-weight: 500;
    color: var(--st-foreground-secondary);
}

#st-start-header-text:after,
#st-start-header-greeting:after {
    content: attr(data-last-letter);
}

#st-start-header-text:first-letter {
    text-transform: capitalize;
}

#st-start-header-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
}

#st-start-header-buttons .st-button[data-icon]:before {
    font-weight: 600;
}

#st-start-today-offset-zero.emphasise {
    animation: 200ms teeter 3 linear, 1000ms pulsebig;
}

@keyframes teeter {
    33% {
        transform: translate(-7%, 0) rotate(-9deg);
    }

    66% {
        transform: translate(-5%, 0) rotate(4deg);
    }

    66% {
        transform: translate(7%, 0) rotate(9deg);
    }
}

@keyframes pulsebig {

    10%,
    60% {
        scale: 1.5;
        translate: 0 -8px;
    }
}

#st-start-today-view {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 8px;
}

#st-start-schedule-wrapper[data-navigate='backwards'],
#st-start-widget-grades-items[data-navigate='backwards'] {
    animation: 200ms navigation-move-backwards;
}

#st-start-schedule-wrapper[data-navigate='forwards'],
#st-start-widget-grades-items[data-navigate='forwards'] {
    animation: 200ms navigation-move-forwards;
}

#st-start-schedule-wrapper[data-navigate='jumpforwards'] {
    animation: 300ms navigation-move-jump-forwards;
}

@keyframes navigation-move-backwards {
    30% {
        translate: 5%;
        opacity: 0;
        scale: var(--st-anim-mod-scale, .9);
    }

    30.1% {
        translate: -5%;
    }
}

@keyframes navigation-move-forwards {
    30% {
        translate: -5%;
        opacity: 0;
        scale: var(--st-anim-mod-scale, .9);
    }

    30.1% {
        translate: 5%;
    }
}

@keyframes navigation-move-jump-forwards {
    0% {
        translate: 15%;
        opacity: 0;
        scale: var(--st-anim-mod-scale, .9);
    }
}

.st-start-icon {
    display: inline-block;
    position: sticky !important;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% - 48px);
    width: 120px;
    height: max-content;
    font-size: 90px;
    text-align: center;
    opacity: .5;
    color: var(--st-foreground-secondary);
}

.st-start-disclaimer {
    display: inline-block;
    position: sticky;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% + 32px);
    width: max-content;
    height: max-content;
    font: 600 14px var(--st-font-family-secondary);
    text-align: center;
    opacity: .5;
    color: var(--st-foreground-secondary);
}

#st-start[data-widgets-collapsed=true] {
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 0px;
}

#st-start-edit-teachers {
    grid-template:
        '. . .' 1fr
        '. heading .' auto
        '. content .' auto
        '. . .' 1fr
        / 1fr auto 1fr;
    row-gap: 16px;
    column-gap: 24px;
}

#st-start-stats {
    grid-template:
        '. . . .' 1fr
        '. heading heading .' auto
        '. left right .' auto
        '. . . .' 1fr
        / 1fr auto auto 1fr;
    row-gap: 16px;
    column-gap: 24px;
}

@media (width < 900px) {
    #st-start-stats {
        grid-template:
            '. . .' 1fr
            '. heading .' auto
            '. left .' auto
            '. right .' auto
            '. . .' 1fr
            / 1fr auto 1fr;
        gap: 16px;
        padding: 0;
    }

    #st-start-edit-teachers {
        gap: 16px;
        padding: 0;
    }
}

#st-start-edit-teachers-wrapper {
    grid-area: content;
}

#st-start-edit-teachers-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(20, auto);
    column-gap: 32px;
}

#st-start-edit-teachers-list>div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
    width: 100%;
}

#st-start-edit-teachers-list>div>.st-input {
    height: auto;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 12px;
}

.st-overlay[id^="st-start"][open] {
    display: grid;
}

.st-overlay[id^="st-start"]>div:first-child {
    grid-area: heading;
    display: grid;
    grid-template:
        'title buttons' auto
        'subtitle subtitle' auto
        / 1fr auto;
}

.st-overlay[id^="st-start"]>div:first-child>.st-title {
    grid-area: title;
}

.st-overlay[id^="st-start"]>div:first-child>.st-subtitle {
    grid-area: subtitle;
}

.st-overlay[id^="st-start"]>div:first-child>.st-button,
.st-overlay[id^="st-start"]>div:first-child>.st-button-wrapper {
    grid-area: buttons;
}

#st-start-stats-teachers {
    grid-area: left;
    width: 100%;
    height: 100%;
}

#st-start-stats-classrooms {
    grid-area: right;
    width: 100%;
    height: 100%;
}

#st-start-stats-teacher-chart,
#st-start-stats-classroom-chart {
    --size: 256px;
}

@keyframes widgetsIn {
    0% {
        display: none;
    }

    1% {
        display: flex;
        translate: 400px;
    }

    100% {
        translate: 0;
    }
}

@keyframes widgetsOut {
    0% {
        translate: 0;
    }

    99% {
        display: flex;
        translate: 400px;
    }

    100% {
        display: none;
    }
}