#st-start-widgets {
    grid-area: widgets;
    position: relative;
    width: 400px;
    box-sizing: content-box;

    display: grid;

    padding-bottom: 64px;
    overflow: hidden;
    background-color: var(--st-background-secondary);
    border-left: var(--st-border);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));

    transition: opacity 200ms, translate 200ms, display 200ms allow-discrete;
    opacity: 1;
    translate: 0;

    @starting-style {
        opacity: 0;
        translate: 50%;
    }
}

#st-start[data-widgets-collapsed=true] #st-start-widgets {
    display: none;
    opacity: 0;
}

#st-start:has(#st-start-widgets.editing) #st-start-header,
#st-start:has(#st-start-widgets.editing) #st-start-schedule {
    opacity: 0.1;
    pointer-events: none;
}

#st-start-widgets-list {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: var(--st-border);
}

#st-start-widgets-list:has(.st-widget[data-dragging=true]) {
    cursor: grabbing;
}

#st-start-widget-controls-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 400px;
    padding: 8px;
    color: var(--st-foreground-insignificant);
    z-index: 1;
    transition: scale 200ms, opacity 200ms, min-width 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper:hover,
#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper.st-visible,
#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper:has(*:focus-visible) {
    opacity: 1;
    scale: 1;
    transition: scale 200ms, opacity 200ms, min-width 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper {
    min-width: 90px;
    padding: 16px 8px 8px 32px;
    color: var(--st-foreground-primary);
    transition: scale 200ms 1000ms, opacity 200ms 1000ms, min-width 200ms;
}

@media (hover: hover) {
    #st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper {
        opacity: 0;
        scale: 0.9;
    }
}

#st-start-widget-controls {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
    height: 48px;
    padding: 8px;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: calc(var(--st-border-radius) * 2);
    transition: border-color 200ms, box-shadow 200ms, background-color 200ms;
}

#st-start-widget-controls,
#st-start-widget-controls>* {
    color: currentColor;
}

#st-start-widget-controls>*:hover {
    color: var(--st-foreground-accent);
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls {
    border-color: var(--st-border-color);
    background-color: var(--st-background-secondary);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-start-widget-controls.editing>.st-button,
#st-start-editor-done {
    display: none;
}

#st-start-widget-controls.editing>#st-start-editor-done {
    display: unset;
}

#st-start-schedule-collapse-widgets:before {
    scale: 1 1;
    transition: scale 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-schedule-collapse-widgets:before {
    scale: -1 1;
}

#st-start-widgets-collapsed-tooltip,
#st-start-widgets-edit-tooltip {
    position: absolute;
    width: fit-content;
    min-width: 100px;
    max-width: 270px;

    padding: 7px 13px;
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
    border-radius: var(--st-border-radius);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    font: 12px var(--st-font-family-secondary);
    text-align: center;
    text-wrap: balance;
    z-index: 100;
    transform-origin: bottom right;
    transform: none;
    opacity: 1;
    pointer-events: none;
    transition: transform 200ms, opacity 200ms;
}

#st-start-widgets-collapsed-tooltip:after,
#st-start-widgets-edit-tooltip:after {
    content: '';
    position: absolute;
    left: auto;
    right: 20px;
    top: 100%;
    margin-top: 0;
    border-width: 5px;
    border-style: solid;
    border-color: var(--st-accent-primary) transparent transparent transparent;
}

#st-start-widgets-collapsed-tooltip.st-hidden,
#st-start-widgets-edit-tooltip.st-hidden {
    transform: scale(0);
    opacity: 0;
}

#st-start-schedule-progress {
    position: sticky;
    z-index: 1;
}

#st-start-widget-progress-text {
    position: absolute;
    bottom: 72px;
    left: 50%;
    translate: -50%;
    color: var(--st-foreground-insignificant);
    font: 11px var(--st-font-family-secondary) !important;
}

.st-widget {
    flex-shrink: 0;
    position: relative;
    max-height: 300px;
    padding: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    overflow-y: auto;
    overflow-x: hidden;
}

#st-start-widgets-list .st-widget {
    transition-property: opacity, translate, display, visibility, max-height;
    transition-duration: 200ms;
    transition-behavior: allow-discrete;
    opacity: 1;
    translate: 0;
    visibility: visible;

    @starting-style {
        opacity: 0;
        translate: 150px;
    }
}

#st-start-widgets.editing {
    &:has(.focused) .st-widget {
        opacity: .5;
        filter: blur(2px);
    }

    .st-widget {
        cursor: pointer;
        transition: opacity 200ms;

        * {
            pointer-events: none;
            user-select: none;
        }

        &.focused {
            opacity: 1;
            outline: 2px solid var(--st-foreground-accent);
            filter: none;
            box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
            cursor: grab;

            &[data-render-type="Lijst"] {
                outline-offset: -2px;
            }
        }

        &:hover {
            opacity: 1;
            filter: none;
        }

        &[data-dragging=true] {
            max-height: 2px;
            overflow: visible;
            visibility: hidden;
            cursor: grabbing;

            transition-property: none !important;
            transition-duration: 0 !important;

            &:after {
                content: '';
                position: absolute;
                top: -1.5px;
                left: -6px;
                right: -6px;
                height: 3px;
                background-color: var(--st-foreground-accent);
                border-radius: 1.5px;
                visibility: visible;
            }
        }
    }
}

.st-widget[data-render-type="Tegel"] {
    margin-inline: 24px;
}

.st-widget[data-render-type="Tegel"]+.st-widget[data-render-type="Tegel"] {
    margin-top: 16px;
}

.st-widget[data-render-type="Tegel"]:last-child {
    margin-bottom: 16px;
}

.st-widget[data-render-type="Verborgen"] {
    display: none;
}

.st-widget[data-render-type="Lijst"] {
    background-color: transparent;
    border-radius: 0;
    border-inline: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 20px;
    font: 500 18px/24px var(--st-font-family-primary);
}

.st-widget-title:first-child:last-child {
    padding-block: 6px;
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount]::after {
    content: attr(data-amount);
    font: 18px/24px var(--st-font-family-secondary);
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount='0']:after {
    content: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount='12']:after {
    content: '12+';
}

.st-widget[data-render-type="Lijst"]+.st-widget[data-render-type="Lijst"],
.st-widget[data-render-type="Lijst"]:first-child {
    margin-top: 0;
    border-top: none;
}

.st-widget-title {
    margin-block: 0;
    margin-inline: 6px;

    display: flex;
    justify-content: space-between;
    gap: 8px;
    color: var(--st-foreground-primary);
    font: 500 16px/24px var(--st-font-family-primary);

    &[href]:hover {
        background-color: var(--st-highlight-primary);
    }
}

.st-widget-title[data-amount]:after {
    content: attr(data-amount);
    font: 14px/24px var(--st-font-family-secondary);
}

.st-widget-title[data-amount='0']:after {
    content: none;
}

.st-widget-title[data-amount='12']:after {
    content: '12+';
}

#st-start-editor {
    position: absolute;
    right: 400px;
    top: 0;
    bottom: 0;
    width: 400px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--st-background-secondary);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    border-left: var(--st-border);
    font: 14px var(--st-font-family-secondary);

    transition-property: opacity, translate, display;
    transition-duration: 200ms;
    transition-behavior: allow-discrete;
    opacity: 1;
    translate: 0;

    @starting-style {
        opacity: 0;
        translate: 150px;
    }

    &.st-hidden {
        display: none;
        opacity: 0;
        translate: 150px;
    }
}

#st-start-editor-view {
    flex: 67% 1 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#st-start-editor-title,
#st-start-editor-hidden-view-title {
    font: 500 16px/28px var(--st-font-family-primary);
}

#st-start-editor-action-row {
    display: flex;
    gap: 8px;

    &>button:nth-child(2) {
        flex: 1;
        height: 100%;
        outline: var(--st-border);
        border-radius: var(--st-border-radius);

        &:before {
            color: var(--st-accent-warn)
        }
    }

    &:empty::after {
        content: attr(data-empty-text);
    }
}

#st-start-editor-disclaimer {
    transition-property: opacity, scale, max-height, margin-top, translate, display;
    transition-duration: 350ms;
    transition-behavior: allow-discrete;
    opacity: 1;
    scale: 1;
    max-height: 150px;
    margin-top: 0;
    translate: 0;

    @starting-style {
        opacity: 0;
        scale: 0.5;
        max-height: 0px;
        margin-top: -42px;
        translate: 0 50%;
    }

    &.st-hidden {
        transition-duration: 200ms;

        display: none;
        opacity: 0;
        max-height: 0px;
        margin-top: -42px;
        translate: 0 50%;
    }
}

#st-start-editor-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#st-start-editor-options .st-option {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    font: 14px var(--st-font-family-secondary);
}

#st-start-editor-hidden-view {
    flex: 33% 1 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;

    border-top: var(--st-border);
}

#st-start-editor-hidden-view-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:empty::after {
        content: attr(data-empty-text);
    }
}

.st-start-editor-add {
    position: relative;
    padding: 16px;
    padding-left: 120px;
    height: 70px;
    width: 100%;

    color: var(--st-foreground-primary);
    background-color: var(--st-background-tertiary);
    border-radius: var(--st-border-radius);
    border: var(--st-border);
    font: 14px var(--st-font-family-secondary);
    text-align: left;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        color: var(--st-foreground-accent);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        translate: 0 -50%;
        font: bold 18px 'Font Awesome 6 Pro';
    }

    &>.st-widget {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 16px;
        transform-origin: left;
        transform: translateY(-50%) scale(0.25);

        width: 352px;
        border-width: 4px;
        pointer-events: none;
    }
}

#st-start-widget-grades {
    height: 185px;
}

#st-start-widgets:not(.editing) #st-start-widget-grades:hover,
#st-start-widgets:not(.editing) #st-start-widget-digital-clock:not(:fullscreen):hover,
#st-start-widgets:not(.editing) #st-start-widgets *[href]:hover {
    background-color: var(--st-highlight-primary);
    cursor: pointer;
}

#st-start-widget-grades:focus-visible,
#st-start-widget-digital-clock:focus-visible,
#st-start-widgets *[href]:focus-visible {
    outline: 2px solid var(--st-foreground-accent);
    outline-offset: -4px;
}

#st-start-widget-grades-title {
    background-color: transparent;
    border-bottom-color: transparent;
    z-index: 1;
    position: relative;
    transition: color 200ms;
}

.st-widget[data-render-type="Tegel"] #st-start-widget-grades-title {
    justify-content: center;
}

#st-start-widget-grades-scroll-back,
#st-start-widget-grades-scroll-forw {
    position: absolute;
    top: 50%;
    left: 16px;
    right: auto;
    translate: 0 -50%;
    transform: translateX(-200%);
    opacity: 0;
    transition: color 200ms, opacity 200ms, transform 200ms;
}

#st-start-widget-grades-scroll-forw {
    left: auto;
    right: 16px;
    transform: translateX(200%);
}

#st-start-widget-grades-scroll-pagn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    display: flex;
    gap: 4px;
    justify-content: center;
    transform: translateY(200%);
    opacity: 0;
    transition: color 200ms ease 0s, opacity 200ms ease 0s, transform 200ms ease 0s;
}

#st-start-widget-grades[data-unread=true] #st-start-widget-grades-title,
#st-start-widget-grades[data-unread=true] #st-start-widget-grades-scroll-back,
#st-start-widget-grades[data-unread=true] #st-start-widget-grades-scroll-forw,
#st-start-widget-grades[data-unread=true] #st-start-widget-grades-scroll-pagn {
    color: var(--st-contrast-accent);
}

#st-start-widget-grades-scroll-pagn>div {
    background-color: currentColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: .25;
    transition: opacity 200ms;
}

#st-start-widget-grades-scroll-pagn>div:hover {
    opacity: .75;
    transition: none;
}

#st-start-widget-grades-scroll-pagn>div[data-current=true] {
    opacity: 1;
}

#st-start-widget-grades-items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
}

.st-start-widget-grades-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding-inline: 64px;
    padding-top: 48px;
    padding-bottom: 32px;
    overflow: hidden;
}

.st-widget[data-render-type="Tegel"] .st-start-widget-grades-item {
    padding-top: 44px;
    padding-bottom: 32px;
}

.st-start-widget-grades-item[data-unread=true] {
    background-image: linear-gradient(35deg, var(--st-accent-primary), var(--st-accent-primary-dark));
    background-image: linear-gradient(35deg, hsl(from var(--st-accent-primary) h calc(s - 5) calc(l + 5)), hsl(from var(--st-accent-primary) h calc(s + 25) calc(l - 17)));
}

.st-start-widget-grades-item[data-unread=true] *,
.st-start-widget-grades-item[data-unread=true] .st-button.icon {
    color: var(--st-contrast-accent);
}

.st-start-widget-grades-item-rslt {
    display: block;
    font: 500 28px/42px var(--st-font-family-primary);
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 1;
    transition: opacity 200ms;
}

.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-rslt {
    opacity: 0;
}

.st-start-widget-grades-item[data-assignment=true] .st-start-widget-grades-item-rslt {
    color: var(--st-accent-info);
}

.st-start-widget-grades-item-rslt[data-great=true] {
    background-image: linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background-position: 0 0;
    background-size: 100% 200%;
    background-clip: text;
    color: transparent;
    animation: great-grade 2s linear infinite;
}

.st-start-widget-grades-item-rslt[data-insuf=true] {
    color: var(--st-accent-warn);
}

.st-start-widget-grades-item[data-unread=true] .st-start-widget-grades-item-rslt[data-great=true] {
    background: linear-gradient(in hsl longer hue, hsl(0, 100%, 80%) 0 0) 0 0/100% 200%;
    background-clip: text;
    color: transparent;
    animation: great-grade 2s linear infinite;
}

@keyframes great-grade {
    to {
        background-position: 0 -200%
    }
}

.st-start-widget-grades-item-subj,
.st-start-widget-grades-item-date,
.st-start-widget-grades-item-info {
    font: 500 11px/16px var(--st-font-family-secondary);
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    translate: 0;
    transition: translate 200ms;
}

.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-subj,
.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-date,
.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-info {
    translate: 0 -16px;
}

.st-start-widget-grades-item-subj {
    font: 600 12px/22px var(--st-font-family-secondary);
}

.st-start-widget-grades-item-date:after {
    content: attr(data-time);
}

.st-start-widget-grades-item-hide {
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    transform: translateX(200%);
    transition: color 200ms, opacity 200ms, transform 200ms;
}

#st-start-widget-grades .st-button.icon:hover,
#st-start-widget-grades .st-button.icon:focus-visible {
    background-color: #ffffff33;
}

#st-start-widgets:not(.editing) #st-start-widget-grades:hover .st-button.icon,
#st-start-widget-grades:focus-visible .st-button.icon,
.st-button.icon:focus-visible,
#st-start-widgets:not(.editing) #st-start-widget-grades:hover #st-start-widget-grades-scroll-pagn,
#st-start-widget-grades:focus-visible #st-start-widget-grades-scroll-pagn {
    opacity: 1;
    transform: none;
}

#st-start-widget-digital-clock-disclaimer {
    translate: 0 16px;
}

#st-start-widget-digital-clock-time {
    display: inline-block;
    justify-content: center;
    margin-block: 4px;
    min-height: 42px;
    width: 100%;
    font: 600 28px/42px var(--st-font-family-secondary);
    font-variant-numeric: tabular-nums lining-nums;
    text-align: center;
    overflow: hidden;
}

#st-start-widget-digital-clock {
    overflow: hidden;

    &:has(#st-start-widget-digital-clock-wrapper) {
        padding-bottom: 15px;
    }
}

#st-start-widget-digital-clock-time:after {
    content: attr(data-time)
}

[data-render-type="Lijst"] #st-start-widget-digital-clock-time {
    margin-block: 20px;
}

#st-start-widget-digital-clock-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;

    display: flex;
    gap: 3px;
}

#st-start-widget-digital-clock-wrapper>div {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: var(--st-highlight-primary);
}

#st-start-widget-digital-clock-wrapper>div:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--progress) * 100%);
    background-color: var(--st-accent-primary);
}

#st-start-widget-digital-clock-wrapper>div[data-done=true]:after {
    background-color: var(--st-accent-primary-dark);
}

#st-start-widget-digital-clock:fullscreen {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: none;
    cursor: none;
    background-color: #000000;
}

#st-start-widget-digital-clock:fullscreen #st-start-widget-digital-clock-time {
    margin-block: auto;
    font-size: 15vh;
    line-height: normal;
    color: #ffffff;
    text-shadow: 0 0 3vh color-mix(in lch, #ffffffaa, var(--st-accent-primary) 70%);
}

#st-start-widget-digital-clock:fullscreen #st-start-widget-digital-clock-wrapper {
    height: 32px;
}

.st-widget-subitem {
    position: relative;
    width: 100%;
    min-height: 66px;
    max-height: 128px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-inline: 12px;
    padding-block: 8px;

    background-color: var(--st-background-tertiary);
    color: var(--st-foreground-primary);
    border: none;
    border-radius: var(--st-border-radius);
    font: 11px var(--st-font-family-secondary);
    cursor: pointer;
}

.st-widget-subitem[href]:hover {
    background-color: var(--st-highlight-primary);
}

.st-widget-subitem-row {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    width: 100%;

    .st-chips-wrapper {
        position: absolute;
        bottom: 8px;
        right: 12px;
        column-gap: 4px;
    }
}

.st-widget-subitem-title {
    max-width: 60%;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 600 14px var(--st-font-family-secondary);
}

.st-widget-subitem-timestamp {
    text-align: end;
    font-weight: 600;
    color: var(--st-foreground-insignificant);
}

.st-widget-subitem-timestamp:after {
    content: attr(data-time);
}

.st-widget-subitem-content {
    max-height: 30px;
    overflow: hidden;
    color: var(--st-foreground-insignificant);
    text-align: start;
}

#st-start-widget-homework .st-widget-subitem-content p {
    color: var(--st-foreground-insignificant);
}