#st-sg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        'header' auto
        'contents' 1fr
        / 1fr;
    overflow: hidden;
    padding: 32px;
    gap: 8px;
    container-type: inline-size;
    container-name: sg;

    &>.st-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    #st-sg-header {
        position: relative;

        .st-segmented-control {
            position: absolute;
            bottom: 6px;
            right: 0;
        }
    }

    #st-sg-main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 100% 0px;
        grid-column: 1;
        grid-row: 2;
        border: var(--st-border);
        border-radius: var(--st-border-radius);
        box-shadow: 1px 1px 4px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
        overflow: hidden;

        transition: grid-template-columns 0.3s ease;

        &.contents-visible {
            grid-template-columns: 300px calc(100% - 300px);

            @container sg (width < 700px) {
                grid-template-columns: 0px 100%;
            }
        }
    }
}

#st-sg-overview {
    position: relative;
    container-type: inline-size;
    container-name: sg-overview;

    background-color: var(--st-background-secondary);

    #st-sg-overview-empty {
        position: absolute;
        margin: 32px;
        font: 14px var(--st-font-family-secondary);
    }

    #st-sg-list {
        display: grid;
        grid-template-columns: auto 1fr;
        overflow-y: auto;
        height: max-content;

        .st-sg-subject {
            display: grid;
            grid-column: 1 / 3;
            grid-template-columns: subgrid;
            align-items: center;
            gap: 4px 16px;

            padding: 8px 16px;
            box-sizing: border-box;
            border-bottom: var(--st-border);
            overflow: hidden;

            .st-sg-subject-headline {
                min-width: 150px;
                font: 600 14px var(--st-font-family-secondary);
            }

            .st-sg-items {
                display: flex;
                flex-wrap: wrap;
                gap: 4px 8px;

                .st-sg-item {
                    flex-shrink: 0;
                    flex-grow: 0;

                    &.active {
                        background-color: var(--st-accent-primary);
                        color: var(--st-contrast-accent);
                    }
                }
            }

            @container sg-overview (width < 400px) {
                grid-template-columns: 1fr;

                .st-sg-items {
                    gap: 2px 4px;

                    .st-sg-item {
                        padding: 2px 6px;
                        height: auto;
                    }
                }
            }
        }
    }
}

#st-sg-contents {
    border-left: var(--st-border);
}

#st-sg-item-hider {
    position: absolute;
    top: 73px;
    right: 154px;
    z-index: 2;
}

.content-container:has(.st-sg-sidepanel),
.tabsheet:has(.st-sg-sidepanel) {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.sheets:has(.st-sg-sidepanel) {
    padding-top: 40px !important;
}

#studiewijzer-detail-container dna-page-header {
    clip-path: inset(0 15% 0 0);
}

#st-hb-sheet>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
    margin-inline: -4px;
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    background-color: var(--st-background-secondary);
    border-radius: var(--st-border-radius);
    border: var(--st-border);
}

#st-hb-sheet-heading {
    align-items: start;
    gap: 4px;
    font-size: 16px;
    margin-bottom: 0;
}

#st-hb-sheet-heading[data-description]:after {
    font-size: 12px;
    text-align: left;
}

@media (height < 700px) {

    .st-sg-item-default,
    .st-sg-subject-headline {
        --padding-block: 8px;
    }
}