#st-sg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        'header' auto
        'contents' 1fr
        / 1fr;
    overflow: hidden;
    padding: 32px;
    gap: 8px;
    container-type: inline-size;
    container-name: sg;

    &>.st-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    #st-sg-header {
        position: relative;

        .st-segmented-control {
            position: absolute;
            bottom: 6px;
            right: 0;
        }
    }

    #st-sg-main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 100% 0px;
        grid-column: 1;
        grid-row: 2;
        border: var(--st-border);
        border-radius: var(--st-border-radius);
        box-shadow: 1px 1px 4px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
        overflow: hidden;

        transition: grid-template-columns 0.3s ease;

        #st-sg-overview,
        #st-sg-contents {
            transition: opacity 0.3s ease, display 0.3s allow-discrete, visibility 0.3s allow-discrete;

            @starting-style {
                opacity: 0;
            }
        }

        #st-sg-contents {
            display: none;
            opacity: 0;
        }

        &.contents-visible {
            grid-template-columns: 300px calc(100% - 300px);

            #st-sg-contents {
                display: block;
                opacity: 1;

                @starting-style {
                    opacity: 0;
                }
            }

            @container sg (width < 850px) {
                grid-template-columns: 0px 100%;

                #st-sg-overview {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}

#st-sg-overview {
    position: relative;
    container-type: inline-size;
    container-name: sg-overview;

    max-height: 100%;
    min-width: 300px;
    overflow: hidden;

    background-color: var(--st-background-secondary);

    #st-sg-overview-empty {
        position: absolute;
        margin: 32px;
        font: 14px var(--st-font-family-secondary);
    }

    #st-sg-overview-toolbar {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--st-background-tertiary);
        border-bottom: var(--st-border);

        &>div:first-child {
            display: flex;
            margin-left: 8px;
        }

        #st-sg-sidebar-toggle {
            height: 100%;
            margin-left: auto;
            max-height: none;
            max-width: none;
            aspect-ratio: 1;

            border-left: var(--st-border);
            border-radius: 0;
        }
    }

    #st-sg-list {
        display: grid;
        grid-template-columns: auto 1fr;
        height: max-content;
        max-height: calc(100% - 48px);
        overflow-y: auto;

        .st-sg-subject {
            display: grid;
            grid-column: 1 / 3;
            grid-template-columns: subgrid;
            align-items: center;
            gap: 4px 16px;

            padding: 8px 16px;
            box-sizing: border-box;
            border-bottom: var(--st-border);
            overflow: hidden;

            .st-sg-subject-headline {
                min-width: 150px;
                font: 600 14px var(--st-font-family-secondary);
            }

            .st-sg-items {
                display: flex;
                flex-wrap: wrap;
                gap: 4px 8px;

                .st-sg-item {
                    flex-shrink: 0;
                    flex-grow: 0;

                    &.active {
                        background-color: var(--st-accent-primary);
                        color: var(--st-contrast-accent);
                    }
                }
            }

            @container sg-overview (width < 400px) {
                grid-template-columns: 1fr;

                .st-sg-items {
                    gap: 2px 4px;

                    .st-sg-item {
                        padding: 2px 6px;
                        height: auto;
                    }
                }
            }
        }
    }
}

#st-sg-contents {
    position: relative;
    min-width: 400px;

    background-color: var(--st-background-secondary);
    border-left: var(--st-border);
    overflow: hidden;

    #st-sg-contents-wrapper {
        overflow-y: auto;
        max-height: 100%;
    }

    #st-sg-contents-header {
        position: relative;
        padding: 24px 32px;

        h3 {
            font-size: 22px;
            line-height: 32px;
        }

        #st-sg-contents-header-info {
            display: flex;
            gap: 16px;

            .st-sg-edit {
                font: 600 14px var(--st-font-family-secondary);

                &::after {
                    content: '';
                    font: 500 14px "Font Awesome 6 Pro";
                    margin-left: 6px;
                }
            }
        }

        #st-sg-contents-header-actions {
            position: absolute;
            right: 32px;
            bottom: 24px;

            display: flex;
            gap: 8px;
        }
    }

    #st-sg-contents-body {
        padding: 24px 32px;
        padding-top: 0;

        .st-sg-section {
            margin: 12px 0;

            background-color: var(--st-background-secondary);
            border: var(--st-border);
            border-radius: var(--st-border-radius);
            color: #000;
            overflow: hidden;

            &:has(.st-sg-section-top:focus-visible) {
                outline: 2px solid var(--st-foreground-accent);
                outline-offset: 2px;
            }

            .st-sg-section-top {
                position: relative;
                display: block;
                padding: 12px 24px;
                width: 100%;
                max-height: calc(60px + 24px);

                background-color: var(--sg-accent);
                background-color: light-dark(color-mix(in hsl, var(--sg-accent) 70%, transparent),
                        color-mix(in hsl, var(--sg-accent) 40%, transparent));
                border: none;
                text-align: left;
                overflow: hidden;
                cursor: pointer;

                transition: max-height 0.3s ease;

                h3.st-section-heading {
                    color: var(--st-foreground-primary);
                    margin-bottom: 0;
                    height: 28px;
                }

                p.st-sg-section-abstract {
                    margin: 6px 0;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--st-foreground-primary);
                    opacity: 0.8;
                    font: 12px var(--st-font-family-secondary);

                    transition: opacity 0.3s ease;

                    &:empty {
                        display: none;
                    }
                }

                &.st-collapsed {
                    max-height: calc(28px + 24px);

                    p.st-sg-section-abstract {
                        opacity: 0;
                    }
                }

                &::after {
                    content: '';
                    font: 600 14px "Font Awesome 6 Pro";
                    position: absolute;
                    right: 24px;
                    top: 20px;
                    transition: transform 0.3s ease;
                }

                &:active::after {
                    transform: translateY(6px);
                }

                &.st-collapsed::after {
                    transform: scaleY(-1);
                }

                &:active.st-collapsed::after {
                    transform: scaleY(-1) translateY(6px);
                }

                &.current::before {
                    content: '';
                    font: 600 12px "Font Awesome 6 Pro";
                    position: absolute;
                    left: 8px;
                    top: 20px;
                }
            }

            .st-sg-section-body {
                height: max-height;
                padding: 12px 24px;

                background-color: var(--sg-light);
                background-color: light-dark(color-mix(in hsl, var(--sg-accent) 12%, transparent),
                        color-mix(in hsl, var(--sg-accent) 10%, transparent));
                border-top: var(--st-border);

                color: var(--st-foreground-primary);
                font: 12px var(--st-font-family-secondary);

                transition: height 0.3s ease, padding 0.3s ease, display 0.3s allow-discrete;
                interpolate-size: allow-keywords;

                @starting-style {
                    height: 0;
                    padding: 0 24px;
                }

                &>* {
                    transition: opacity 0.3s ease;
                }


                &.st-collapsed {
                    display: none;
                    height: 0;
                    padding: 0 24px;

                    &>* {
                        opacity: 0;
                    }
                }

                p {
                    font: 12px var(--st-font-family-secondary);
                }

                ul li a {
                    display: inline !important;
                    padding: 0 !important;
                }

                img {
                    max-width: min(70vw, 90%);
                    max-height: min(60vh, 90%);
                }
            }

            .st-sg-attachments {
                width: 100%;
                margin-top: 16px;

                background-color: var(--sg-light);
                background-color: light-dark(color-mix(in hsl, var(--sg-accent) 12%, transparent),
                        color-mix(in hsl, var(--sg-accent) 10%, transparent));
                border: var(--st-border);
                border-radius: var(--st-border-radius);

                &:first-child {
                    margin-top: 0;
                }

                button.st-sg-attachment {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 8px 16px;

                    background-color: transparent;
                    border: none;
                    font: 12px var(--st-font-family-secondary);
                    text-align: left;
                    cursor: pointer;
                    overflow: hidden;


                    &::before {
                        content: attr(data-icon);

                        display: inline-block;
                        width: 18px;
                        margin-right: 8px;

                        font: 16px "Font Awesome 6 Pro";
                        text-align: center;
                    }

                    span {
                        height: 24px;
                        font: 12px/24px var(--st-font-family-secondary);
                        color: var(--st-foreground-primary);
                    }

                    &:hover {
                        background-color: color-mix(in hsl, var(--st-foreground-primary) 15%, transparent);
                    }

                    &:focus-visible {
                        outline: 2px solid var(--st-foreground-accent);
                        outline-offset: 2px;
                    }

                    &:not(:last-child) {
                        border-bottom: var(--st-border);
                    }

                    &.folder {
                        &::after {
                            content: '';
                            font: 500 14px "Font Awesome 6 Pro";
                            position: absolute;
                            right: 16px;
                            top: 13px;
                            transition: transform 0.3s ease;
                        }

                        &:active::after {
                            transform: translateY(6px);
                        }

                        &.open::after {
                            transform: scaleY(-1);
                        }

                        &:active.open::after {
                            transform: scaleY(-1) translateY(6px);
                        }
                    }
                }

                &>button.st-sg-attachment:first-child {
                    border-top-left-radius: var(--st-border-radius);
                    border-top-right-radius: var(--st-border-radius);
                }

                &>button.st-sg-attachment:last-child {
                    border-bottom-left-radius: var(--st-border-radius);
                    border-bottom-right-radius: var(--st-border-radius);
                }
            }

            .st-sg-attachments-children {
                height: max-height;
                padding-left: 16px;

                border-bottom: var(--st-border);
                overflow: hidden;

                transition: height 0.3s ease, padding 0.3s ease, opacity 0.3s ease, display 0.3s allow-discrete;
                interpolate-size: allow-keywords;

                @starting-style {
                    height: 0;
                    padding-top: 0;
                    opacity: 0;
                }

                &.st-collapsed {
                    height: 0;
                    padding-top: 0;
                    opacity: 0;
                    display: none;
                }
            }
        }
    }
}

#st-sg-breadcrumbs-a.clickable {
    color: var(--st-foreground-accent);
    cursor: pointer;
}

.st-subject-list {
    max-height: 400px;
    margin-top: 8px;

    border: var(--st-border);
    border-radius: var(--st-border-radius);
    overflow-y: auto;

    button {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 16px;
        text-align: left;
        background-color: var(--st-background-secondary);
        color: var(--st-foreground-primary);
        font: 14px var(--st-font-family-secondary);
        border: none;
        cursor: pointer;

        &:hover {
            background-color: color-mix(in hsl, var(--st-foreground-primary) 15%, transparent);
        }

        &.active {
            font-weight: bold;
        }

        &:focus-visible {
            outline: 2px solid var(--st-foreground-accent);
            outline-offset: -2px;
        }

        &.muted {
            opacity: 0.7;
        }

        &:not(:last-child) {
            border-bottom: var(--st-border);
        }

        small {
            opacity: 0.8;
            font-weight: normal;
        }
    }
}

.st-color-0 {
    --sg-accent: hsl(223, 61%, 84%);
    --sg-light: hsl(240, 50%, 99%);
}

.st-color-1 {
    --sg-accent: hsl(45, 100%, 74%);
    --sg-light: hsl(43, 100%, 99%);
}

.st-color-2 {
    --sg-accent: hsl(77, 34%, 74%);
    --sg-light: hsl(90, 33%, 99%);
}

.st-color-3 {
    --sg-accent: hsl(358, 84%, 80%);
    --sg-light: hsl(348, 100%, 99%);
}

.st-color-4 {
    --sg-accent: hsl(263, 62%, 83%);
    --sg-light: hsl(270, 50%, 99%);
}

.st-color-5 {
    --sg-accent: hsl(168, 20%, 71%);
    --sg-light: hsl(180, 14%, 99%);
}

.st-color-6 {
    --sg-accent: hsl(24, 100%, 77%);
    --sg-light: hsl(30, 100%, 99%);
}

.st-color-7 {
    --sg-accent: hsl(330, 42%, 78%);
    --sg-light: hsl(330, 33%, 99%);
}

.st-color-8 {
    --sg-accent: hsl(208, 46%, 76%);
    --sg-light: hsl(210, 33%, 99%);
}

.st-color-9 {
    --sg-accent: hsl(279, 15%, 70%);
    --sg-light: hsl(240, 14%, 99%);
}

.st-color-10 {
    --sg-accent: hsl(44, 70%, 79%);
    --sg-light: hsl(40, 60%, 99%);
}

.st-color-11 {
    --sg-accent: hsl(62, 94%, 73%);
    --sg-light: hsl(60, 100%, 99%);
}

.st-color-12 {
    --sg-accent: hsl(101, 66%, 77%);
    --sg-light: hsl(105, 67%, 99%);
}

.st-color-13 {
    --sg-accent: hsl(186, 54%, 58%);
    --sg-light: hsl(190, 60%, 98%);
}

.st-color-14 {
    --sg-accent: hsl(354, 36%, 65%);
    --sg-light: hsl(0, 33%, 98%);
}

.st-color-15 {
    --sg-accent: hsl(249, 11%, 67%);
    --sg-light: hsl(300, 11%, 98%);
}

.st-color-16 {
    --sg-accent: hsl(0, 0%, 100%);
    --sg-light: hsl(0, 0%, 100%);
}