@property --px-per-hour {
    syntax: "<length>";
    inherits: true;
    initial-value: 115px;
}

@property --hour-zoom {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

@property --progress {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

#st-start button.st-widget-subitem:focus-visible,
#st-start button.st-event:focus-visible {
    outline: 2px solid var(--st-foreground-accent);
    outline-offset: -2px;
}

#st-start {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 400px;
    overflow: hidden;
    transition: grid-template 200ms, grid-template-columns 200ms;
}

#st-start-header {
    grid-area: header;
    position: relative;
    width: 100%;
    height: 84px;
    box-sizing: border-box;
    display: grid;
    grid-template:
        'text buttons' 32px
        / 1fr auto;
    align-items: center;
    padding: 32px 32px 20px;
    transition: background-color 200ms, padding-right 200ms, opacity 200ms;
}

#st-start-header-text-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 100% 100%;
    overflow: hidden;
}

#st-start-header-text,
#st-start-header-greeting {
    flex: 1;
    margin-bottom: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 300ms;
}

#st-start-header-greeting {
    translate: -100%;
}

#st-start-header-text[data-state="visible"],
#st-start-header-greeting[data-state="visible"] {
    animation: 150ms flipDownIn 150ms both;
}

#st-start-header-text[data-state="hidden"],
#st-start-header-greeting[data-state="hidden"] {
    animation: 150ms flipUpOut both;
}

#st-start-header-text.de-emphasis {
    font-style: normal;
    font-weight: 500;
    color: var(--st-foreground-secondary);
}

#st-start-header-text:after,
#st-start-header-greeting:after {
    content: attr(data-last-letter);
}

#st-start-header-text:first-letter {
    text-transform: capitalize;
}

#st-start-header-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
}

#st-start-header-buttons .st-button[data-icon]:before {
    font-weight: 600;
}

#st-start-today-offset-zero.emphasise {
    animation: 200ms teeter 3 linear, 1000ms pulsebig;
}

@keyframes teeter {
    33% {
        transform: translate(-7%, 0) rotate(-9deg);
    }

    66% {
        transform: translate(-5%, 0) rotate(4deg);
    }

    66% {
        transform: translate(7%, 0) rotate(9deg);
    }
}

@keyframes pulsebig {

    10%,
    60% {
        scale: 1.5;
        translate: 0 -8px;
    }
}

#st-start-today-view {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 8px;
}

#st-start-schedule {
    --px-per-hour: 115px;
    grid-area: schedule;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    --st-anim-mod-scale: 0.97;
    transition: background-color 200ms, opacity 200ms;
}

#st-start-schedule[data-navigate='backwards'],
#st-start-widget-grades-items[data-navigate='backwards'] {
    animation: 200ms navigation-move-backwards;
}

#st-start-schedule[data-navigate='forwards'],
#st-start-widget-grades-items[data-navigate='forwards'] {
    animation: 200ms navigation-move-forwards;
}

#st-start-schedule[data-navigate='jumpforwards'] {
    animation: 300ms navigation-move-jump-forwards;
}

@keyframes navigation-move-backwards {
    30% {
        translate: 5%;
        opacity: 0;
        scale: var(--st-anim-mod-scale, .9);
    }

    30.1% {
        translate: -5%;
    }
}

@keyframes navigation-move-forwards {
    30% {
        translate: -5%;
        opacity: 0;
        scale: var(--st-anim-mod-scale, .9);
    }

    30.1% {
        translate: 5%;
    }
}

@keyframes navigation-move-jump-forwards {
    0% {
        translate: 15%;
        opacity: 0;
        scale: var(--st-anim-mod-scale, .9);
    }
}

#st-start-schedule-head {
    display: flex;
    gap: 16px;
    padding-inline: 32px;
}

#st-start-schedule-wrapper {
    position: absolute;
    --hour-zoom: 1;
    display: flex;
    /* padding-inline: 24px; */
    height: calc(24 * var(--hour-zoom) * var(--px-per-hour));
    width: 100%;
    transition: --hour-zoom 200ms;
}

#st-start-schedule.list-view #st-start-schedule-wrapper {
    height: auto;
}

#st-start-ticks-wrapper {
    position: absolute;
    --hour-zoom: 1;
    height: calc(24 * var(--hour-zoom) * var(--px-per-hour));
    width: 100%;
}

#st-start-schedule.list-view #st-start-ticks-wrapper {
    display: none;
}

.st-start-tick {
    --relative-start: 0;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour));
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--st-foreground-primary);
    opacity: .04;
}

.st-start-tick.half {
    height: 1px;
    opacity: .02;
}

#st-start-now {
    --relative-start: 0;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour));
    left: -8px;
    right: -6px;
    height: 1px;
    padding-bottom: 64px;
    border-top: 1px solid var(--st-foreground-accent);
    z-index: -1;
    pointer-events: none;
}

#st-start-now-label {
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour) - 8px);
    right: -6px;
    padding-block: 2px;
    padding-right: 4px;
    height: 16px;
    font: 600 9px var(--st-font-family-secondary);
    background-color: var(--st-foreground-accent);
    border-top-right-radius: calc(var(--st-border-radius) * 0.5);
    border-bottom-right-radius: calc(var(--st-border-radius) * 0.5);
    color: var(--st-contrast-accent);
    z-index: 1;
    pointer-events: none;
}

#st-start-now-label:before {
    content: '';
    position: absolute;
    display: block;
    left: -8px;
    top: 0;
    width: 8px;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--st-foreground-accent);
}

#st-start-schedule:not(.week-view) .st-start-col:first-child {
    margin-left: 32px;
}

#st-start-schedule:not(.week-view) .st-start-col:last-child {
    margin-right: 32px;
}

#st-start-schedule:not(.week-view) .st-start-col:first-child #st-start-now {
    margin-left: -24px;
}

#st-start-schedule:not(.week-view) .st-start-col:last-child #st-start-now,
#st-start-schedule:not(.week-view) .st-start-col:last-child #st-start-now-label {
    margin-right: -22px;
}

#st-start-schedule.week-view #st-start-now-label {
    display: none;
}

#st-start-schedule.week-view #st-start-now:after {
    content: '';
    position: absolute;
    display: block;
    right: -2px;
    top: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--st-foreground-accent);
}

.st-start-col {
    position: relative;
    flex: 2 1 15%;
    height: calc(24 * var(--hour-zoom) * var(--px-per-hour));
    margin-inline: 8px;
}

#st-start-schedule.list-view .st-start-col {
    height: auto;
    padding-top: 1px;
}

.st-start-col+.st-start-col:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--st-border-color);
}

#st-start-schedule.list-view .st-start-col:before {
    display: none;
}

.st-start-col[data-irrelevant=true] {
    flex-basis: 9%;
}

.st-start-col[data-today=true] {
    flex-basis: 22%;
}

.st-start-col[data-tomorrow=true] {
    flex-basis: 19%;
}

.st-start-col-label {
    position: sticky;
    top: 2px;
    left: 0;
    right: 0;
    height: 36px;
    width: max-content;
    padding: 6px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    backdrop-filter: blur(3px);
    border-radius: var(--st-border-radius);
    font: 12px var(--st-font-family-secondary);
    z-index: 1;
}

.st-start-col-label>span {
    opacity: .7;
}

.st-start-col-label>div {
    display: inline-block;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.st-start-col[data-today=true] .st-start-col-label>span {
    opacity: 1;
}

.st-start-col[data-today=true] .st-start-col-label>div {
    width: 32px;
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
    font-size: 14px;
}

.st-start-col:only-child .st-start-col-label {
    display: none;
}

.st-start-icon {
    display: inline-block;
    position: sticky !important;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% - 48px);
    width: 120px;
    height: max-content;
    font-size: 90px;
    text-align: center;
    opacity: .5;
    color: var(--st-foreground-secondary);
}

.st-start-disclaimer {
    display: inline-block;
    position: sticky;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% + 32px);
    width: max-content;
    height: max-content;
    font: 600 14px var(--st-font-family-secondary);
    text-align: center;
    opacity: .5;
    color: var(--st-foreground-secondary);
}

/* Events */

.st-event-wrapper {
    --relative-start: 0;
    --cols: 1;
    position: absolute;
    top: calc(var(--relative-start) * var(--hour-zoom) * var(--px-per-hour));
    left: calc(100% / var(--cols) * var(--cols-before));
    height: calc(var(--duration) * var(--hour-zoom) * var(--px-per-hour));
    min-height: 16px;
    width: calc(100% / var(--cols));
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    background-color: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    outline: var(--st-border);
    border-top-left-radius: calc(var(--st-border-radius) * var(--st-brm-top-left));
    border-top-right-radius: calc(var(--st-border-radius) * var(--st-brm-top-right));
    border-bottom-left-radius: calc(var(--st-border-radius) * var(--st-brm-bottom-left));
    border-bottom-right-radius: calc(var(--st-border-radius) * var(--st-brm-bottom-right));
    container-type: size;
    container-name: event-wrapper;
    overflow: hidden;
}

.st-event-wrapper[data-ongoing=true] {
    background-color: var(--st-highlight-primary);
}

.st-event-wrapper[data-cancelled=true]:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: var(--st-accent-warn);
    opacity: 1 !important;
    transform: none !important;
}

.list-view .st-event-wrapper {
    position: relative;
    top: unset;
    left: unset;
    height: 65px;
    width: 100%;
    border-radius: 0;
}

.st-event {
    flex: 1 1 100%;

    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: start;

    border: none;
    overflow: hidden;
    cursor: pointer;
    font: 500 12px var(--st-font-family-secondary);

    &:hover {
        background-color: var(--st-highlight-primary);
    }

    .st-event-number {
        align-self: stretch;
        padding: 12px;

        display: flex;
        justify-content: center;
        background-color: var(--st-highlight-primary);
        font: 600 16px var(--st-font-family-primary);
        /* opacity: 0.75; */
    }

    .st-event-details {
        padding: 10px 14px;
        display: grid;
        grid-auto-flow: row;
        row-gap: 4px;
        column-gap: 12px;
    }
}

.list-view .st-event {
    align-items: center;
}

.st-event-number.icon {
    font: 16px 'Font Awesome 6 Pro';
}

[data-ongoing=true] .st-event-number {
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
}

[data-cancelled=true] .st-event-number {
    background-color: var(--st-highlight-warn);
    color: var(--st-foreground-primary);
}

[data-cancelled=true] .st-event-details {
    opacity: .75;
}

.st-event-title {
    grid-column: 1 / -1;
    font: 1.25em/1.4em var(--st-font-family-secondary);
}

.st-event-title>b {
    font-weight: 600;
}

.list-view .st-event-title {
    font: 500 16px var(--st-font-family-primary)
}

.st-event-details>*:not(.st-event-title) {
    max-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.st-event-location:not(:empty):before {
    content: ' (';
}

.st-event-location:not(:empty):after {
    content: ')';
}

.st-event-chips {
    position: absolute;
    bottom: 12px;
    right: 12px;
    row-gap: 4px;
    min-height: fit-content;
}

@container event-wrapper (width < 320px) {
    .st-event {
        font-size: 11.5px;
    }

    .st-event-number {
        align-self: start;
        width: 24px;
        height: max-content;
        line-height: normal;
        background-color: transparent;
        border-color: transparent;
    }

    [data-ongoing=true] .st-event-number {
        background-color: transparent;
        color: var(--st-foreground-accent);
    }

    [data-cancelled=true] .st-event-number {
        background-color: transparent;
        color: var(--st-accent-warn);
    }

    .st-event-title {
        line-height: 1.1em;
    }

    .st-event-chips {
        flex-direction: column;
    }
}

@container event-wrapper (width < 240px) {
    .st-event {
        font-size: 11px;
    }

    .st-event-number {
        display: none;
    }
}

@container event-wrapper (height > 95px) {
    .st-event-title {
        line-height: 1.7em;
    }
}

@container event-wrapper (height < 75px) {
    .st-event-details {
        grid-template-columns: auto 1fr;
    }
}

@container event-wrapper (height < 65px) {
    .st-event {
        font-size: 11.5px;
    }

    .st-event-title {
        line-height: 1.1em;
    }
}

@container event-wrapper (height < 48px) {
    .st-event {
        font-size: 11px;
    }

    .st-event-number {
        background-color: transparent;
        border-color: transparent;
    }

    [data-ongoing=true] .st-event-number {
        background-color: transparent;
        color: var(--st-foreground-accent);
    }

    [data-cancelled=true] .st-event-number {
        background-color: transparent;
        color: var(--st-accent-warn);
    }

    .st-event-chips {
        bottom: 50%;
        translate: 0 50%;
    }
}

@container event-wrapper (height < 40px) {
    .st-event-details {
        grid-auto-flow: column;
    }
}

#st-start-widgets {
    grid-area: widgets;
    position: relative;
    width: 400px;
    box-sizing: content-box;

    display: grid;

    padding-bottom: 64px;
    overflow: hidden;
    background-color: var(--st-background-secondary);
    border-left: var(--st-border);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));

    transition: opacity 200ms, translate 200ms, display 200ms allow-discrete;
    opacity: 1;
    translate: 0;

    @starting-style {
        opacity: 0;
        translate: 50%;
    }
}

#st-start[data-widgets-collapsed=true] #st-start-widgets {
    display: none;
    opacity: 0;
}

#st-start:has(#st-start-widgets.editing) #st-start-header,
#st-start:has(#st-start-widgets.editing) #st-start-schedule {
    opacity: 0.1;
    pointer-events: none;
}

#st-start-widgets-list {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: var(--st-border);
}

#st-start-widgets-list:has(.st-widget[data-dragging=true]) {
    cursor: grabbing;
}

#st-start-widget-controls-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 400px;
    padding: 8px;
    color: var(--st-foreground-insignificant);
    transition: scale 200ms, opacity 200ms, min-width 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper:hover,
#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper.st-visible,
#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper:has(*:focus-visible) {
    opacity: 1;
    scale: 1;
    transition: scale 200ms, opacity 200ms, min-width 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper {
    min-width: 90px;
    padding: 16px 8px 8px 32px;
    color: var(--st-foreground-primary);
    transition: scale 200ms 1000ms, opacity 200ms 1000ms, min-width 200ms;
}

@media (hover: hover) {
    #st-start[data-widgets-collapsed=true] #st-start-widget-controls-wrapper {
        opacity: 0;
        scale: 0.9;
    }
}

#st-start-widget-controls {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
    height: 48px;
    padding: 8px;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: calc(var(--st-border-radius) * 2);
    transition: border-color 200ms, box-shadow 200ms, background-color 200ms;
}

#st-start-widget-controls,
#st-start-widget-controls>* {
    color: currentColor;
}

#st-start-widget-controls>*:hover {
    color: var(--st-foreground-accent);
}

#st-start[data-widgets-collapsed=true] #st-start-widget-controls {
    border-color: var(--st-border-color);
    background-color: var(--st-background-secondary);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
}

#st-start-widget-controls.editing>.st-button,
#st-start-editor-done {
    display: none;
}

#st-start-widget-controls.editing>#st-start-editor-done {
    display: unset;
}

#st-start-collapse-widgets:before {
    scale: 1 1;
    transition: scale 200ms;
}

#st-start[data-widgets-collapsed=true] #st-start-collapse-widgets:before {
    scale: -1 1;
}

#st-start-widgets-collapsed-tooltip,
#st-start-widgets-edit-tooltip {
    position: absolute;
    width: fit-content;
    min-width: 100px;
    max-width: 270px;

    padding: 7px 13px;
    background-color: var(--st-accent-primary);
    color: var(--st-contrast-accent);
    border-radius: var(--st-border-radius);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    font: 12px var(--st-font-family-secondary);
    text-align: center;
    text-wrap: balance;
    z-index: 100;
    transform-origin: bottom right;
    transform: none;
    opacity: 1;
    pointer-events: none;
    transition: transform 200ms, opacity 200ms;
}

#st-start-widgets-collapsed-tooltip:after,
#st-start-widgets-edit-tooltip:after {
    content: '';
    position: absolute;
    left: auto;
    right: 20px;
    top: 100%;
    margin-top: 0;
    border-width: 5px;
    border-style: solid;
    border-color: var(--st-accent-primary) transparent transparent transparent;
}

#st-start-widgets-collapsed-tooltip.st-hidden,
#st-start-widgets-edit-tooltip.st-hidden {
    transform: scale(0);
    opacity: 0;
}

#st-start-widget-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#st-start-widget-progress-text {
    position: absolute;
    bottom: 72px;
    left: 50%;
    translate: -50%;
    color: var(--st-foreground-insignificant);
    font: 11px var(--st-font-family-secondary) !important;
}

.st-widget {
    flex-shrink: 0;
    position: relative;
    max-height: 300px;
    padding: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--st-background-secondary);
    color: var(--st-foreground-primary);
    border: var(--st-border);
    border-radius: var(--st-border-radius);
    overflow-y: auto;
    overflow-x: hidden;
}

#st-start-widgets-list .st-widget {
    transition-property: opacity, translate, display, visibility, max-height;
    transition-duration: 200ms;
    transition-behavior: allow-discrete;
    opacity: 1;
    translate: 0;
    visibility: visible;

    @starting-style {
        opacity: 0;
        translate: 150px;
    }
}

#st-start-widgets.editing {
    &:has(.focused) .st-widget {
        opacity: .5;
        filter: blur(2px);
    }

    .st-widget {
        cursor: pointer;
        transition: opacity 200ms;

        * {
            pointer-events: none;
            user-select: none;
        }

        &.focused {
            opacity: 1;
            outline: 2px solid var(--st-foreground-accent);
            filter: none;
            box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
            cursor: grab;

            &[data-render-type="Lijst"] {
                outline-offset: -2px;
            }
        }

        &:hover {
            opacity: 1;
            filter: none;
        }

        &[data-dragging=true] {
            max-height: 2px;
            overflow: visible;
            visibility: hidden;
            cursor: grabbing;

            transition-property: none !important;
            transition-duration: 0 !important;

            &:after {
                content: '';
                position: absolute;
                top: -1.5px;
                left: -6px;
                right: -6px;
                height: 3px;
                background-color: var(--st-foreground-accent);
                border-radius: 1.5px;
                visibility: visible;
            }
        }
    }
}

.st-widget[data-render-type="Tegel"] {
    margin-inline: 24px;
}

.st-widget[data-render-type="Tegel"]+.st-widget[data-render-type="Tegel"] {
    margin-top: 16px;
}

.st-widget[data-render-type="Tegel"]:last-child {
    margin-bottom: 16px;
}

.st-widget[data-render-type="Verborgen"] {
    display: none;
}

.st-widget[data-render-type="Lijst"] {
    background-color: transparent;
    border-radius: 0;
    border-inline: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title {
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 20px;
    font: 500 18px/24px var(--st-font-family-primary);
}

.st-widget[data-render-type="Tegel"] .st-widget-title:first-child:last-child {
    padding-bottom: 14px;
    border-bottom: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount]::after {
    content: attr(data-amount);
    font: 18px/24px var(--st-font-family-secondary);
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount='0']:after {
    content: none;
}

.st-widget[data-render-type="Lijst"] .st-widget-title[data-amount='12']:after {
    content: '12+';
}

.st-widget[data-render-type="Lijst"]+.st-widget[data-render-type="Lijst"],
.st-widget[data-render-type="Lijst"]:first-child {
    margin-top: 0;
    border-top: none;
}

.st-widget-title {
    margin-block: 0;
    margin-inline: 6px;

    display: flex;
    justify-content: space-between;
    gap: 8px;
    color: var(--st-foreground-primary);
    font: 500 16px/24px var(--st-font-family-primary);

    &[href]:hover {
        background-color: var(--st-highlight-primary);
    }
}

.st-widget-title[data-amount]:after {
    content: attr(data-amount);
    font: 14px/24px var(--st-font-family-secondary);
}

.st-widget-title[data-amount='0']:after {
    content: none;
}

.st-widget-title[data-amount='12']:after {
    content: '12+';
}

#st-start-editor {
    position: absolute;
    right: 400px;
    top: 0;
    bottom: 0;
    width: 400px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--st-background-secondary);
    box-shadow: 0 0 8px 0 rgba(var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-value), var(--st-shadow-alpha));
    border-left: var(--st-border);
    font: 14px var(--st-font-family-secondary);

    transition-property: opacity, translate, display;
    transition-duration: 200ms;
    transition-behavior: allow-discrete;
    opacity: 1;
    translate: 0;

    @starting-style {
        opacity: 0;
        translate: 150px;
    }

    &.st-hidden {
        display: none;
        opacity: 0;
        translate: 150px;
    }
}

#st-start-editor-view {
    flex: 67% 1 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#st-start-editor-title,
#st-start-editor-hidden-view-title {
    font: 500 16px/28px var(--st-font-family-primary);
}

#st-start-editor-action-row {
    display: flex;
    gap: 8px;

    &>button:nth-child(2) {
        flex: 1;
        height: 100%;
        outline: var(--st-border);
        border-radius: var(--st-border-radius);

        &:before {
            color: var(--st-accent-warn)
        }
    }

    &:empty::after {
        content: attr(data-empty-text);
    }
}

#st-start-editor-disclaimer {
    transition-property: opacity, scale, max-height, margin-top, translate, display;
    transition-duration: 350ms;
    transition-behavior: allow-discrete;
    opacity: 1;
    scale: 1;
    max-height: 150px;
    margin-top: 0;
    translate: 0;

    @starting-style {
        opacity: 0;
        scale: 0.5;
        max-height: 0px;
        margin-top: -42px;
        translate: 0 50%;
    }

    &.st-hidden {
        transition-duration: 200ms;

        display: none;
        opacity: 0;
        max-height: 0px;
        margin-top: -42px;
        translate: 0 50%;
    }
}

#st-start-editor-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#st-start-editor-options .st-option {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    font: 14px var(--st-font-family-secondary);
}

#st-start-editor-hidden-view {
    flex: 33% 1 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;

    border-top: var(--st-border);
}

#st-start-editor-hidden-view-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:empty::after {
        content: attr(data-empty-text);
    }
}

.st-start-editor-add {
    position: relative;
    padding: 16px;
    padding-left: 120px;
    height: 70px;
    width: 100%;

    color: var(--st-foreground-primary);
    background-color: var(--st-background-tertiary);
    border-radius: var(--st-border-radius);
    border: var(--st-border);
    font: 14px var(--st-font-family-secondary);
    text-align: left;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        color: var(--st-foreground-accent);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        translate: 0 -50%;
        font: bold 18px 'Font Awesome 6 Pro';
    }

    &>.st-widget {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 16px;
        transform-origin: left;
        transform: translateY(-50%) scale(0.25);

        width: 352px;
        border-width: 4px;
        pointer-events: none;
    }
}

#st-start-widgets:not(.editing) #st-start-widget-grades:hover,
#st-start-widgets:not(.editing) #st-start-widget-digital-clock:not(:fullscreen):hover,
#st-start-widgets:not(.editing) #st-start-widgets *[href]:hover {
    background-color: var(--st-highlight-primary);
    cursor: pointer;
}

#st-start-widget-grades:focus-visible,
#st-start-widget-digital-clock:focus-visible,
#st-start-widgets *[href]:focus-visible {
    outline: 2px solid var(--st-foreground-accent);
    outline-offset: -4px;
}

#st-start-widget-grades-title {
    background-color: transparent;
    border-bottom-color: transparent;
    z-index: 1;
    position: relative;
    transition: color 200ms;
}

.st-widget[data-render-type="Tegel"] #st-start-widget-grades-title {
    justify-content: center;
}

#st-start-widget-grades-scroll-back,
#st-start-widget-grades-scroll-forw {
    position: absolute;
    top: 50%;
    left: 16px;
    right: auto;
    translate: 0 -50%;
    transform: translateX(-200%);
    opacity: 0;
    transition: color 200ms, opacity 200ms, transform 200ms;
}

#st-start-widget-grades-scroll-forw {
    left: auto;
    right: 16px;
    transform: translateX(200%);
}

#st-start-widget-grades-scroll-pagn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    display: flex;
    gap: 4px;
    justify-content: center;
    transform: translateY(200%);
    opacity: 0;
    transition: color 200ms ease 0s, opacity 200ms ease 0s, transform 200ms ease 0s;
}

#st-start-widget-grades[data-unread=true] #st-start-widget-grades-title,
#st-start-widget-grades[data-unread=true] #st-start-widget-grades-scroll-back,
#st-start-widget-grades[data-unread=true] #st-start-widget-grades-scroll-forw,
#st-start-widget-grades[data-unread=true] #st-start-widget-grades-scroll-pagn {
    color: var(--st-contrast-accent);
}

#st-start-widget-grades-scroll-pagn>div {
    background-color: currentColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: .25;
    transition: opacity 200ms;
}

#st-start-widget-grades-scroll-pagn>div:hover {
    opacity: .75;
    transition: none;
}

#st-start-widget-grades-scroll-pagn>div[data-current=true] {
    opacity: 1;
}

#st-start-widget-grades-items {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    margin-top: -64px;
    overflow-x: hidden;
}

.st-start-widget-grades-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding-inline: 64px;
    padding-top: 48px;
    padding-bottom: 32px;
    overflow: hidden;
}

.st-widget[data-render-type="Tegel"] .st-start-widget-grades-item {
    padding-bottom: 26px;
    padding-top: 58px;
}

.st-start-widget-grades-item[data-unread=true] {
    background-image: linear-gradient(35deg, var(--st-accent-primary), var(--st-accent-primary-dark));
    background-image: linear-gradient(35deg, hsl(from var(--st-accent-primary) h calc(s - 5) calc(l + 5)), hsl(from var(--st-accent-primary) h calc(s + 25) calc(l - 17)));
}

.st-start-widget-grades-item[data-unread=true] *,
.st-start-widget-grades-item[data-unread=true] .st-button.icon {
    color: var(--st-contrast-accent);
}

.st-start-widget-grades-item-rslt {
    display: block;
    font: 500 28px/42px var(--st-font-family-primary);
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 1;
    transition: opacity 200ms;
}

.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-rslt {
    opacity: 0;
}

.st-start-widget-grades-item[data-assignment=true] .st-start-widget-grades-item-rslt {
    color: var(--st-accent-info);
}

.st-start-widget-grades-item-rslt[data-great=true] {
    background-image: linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
    background-position: 0 0;
    background-size: 100% 200%;
    background-clip: text;
    color: transparent;
    animation: great-grade 2s linear infinite;
}

.st-start-widget-grades-item-rslt[data-insuf=true] {
    color: var(--st-accent-warn);
}

.st-start-widget-grades-item[data-unread=true] .st-start-widget-grades-item-rslt[data-great=true] {
    background: linear-gradient(in hsl longer hue, hsl(0, 100%, 80%) 0 0) 0 0/100% 200%;
    background-clip: text;
    color: transparent;
    animation: great-grade 2s linear infinite;
}

@keyframes great-grade {
    to {
        background-position: 0 -200%
    }
}

.st-start-widget-grades-item-subj,
.st-start-widget-grades-item-date,
.st-start-widget-grades-item-info {
    font: 500 11px/16px var(--st-font-family-secondary);
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    translate: 0;
    transition: translate 200ms;
}

.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-subj,
.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-date,
.st-start-widget-grades-item[data-hidden=true] .st-start-widget-grades-item-info {
    translate: 0 -16px;
}

.st-start-widget-grades-item-subj {
    font: 600 12px/22px var(--st-font-family-secondary);
}

.st-start-widget-grades-item-date:after {
    content: attr(data-time);
}

.st-start-widget-grades-item-hide {
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    transform: translateX(200%);
    transition: color 200ms, opacity 200ms, transform 200ms;
}

#st-start-widget-grades .st-button.icon:hover,
#st-start-widget-grades .st-button.icon:focus-visible {
    background-color: #ffffff33;
}

#st-start-widgets:not(.editing) #st-start-widget-grades:hover .st-button.icon,
#st-start-widget-grades:focus-visible .st-button.icon,
.st-button.icon:focus-visible,
#st-start-widgets:not(.editing) #st-start-widget-grades:hover #st-start-widget-grades-scroll-pagn,
#st-start-widget-grades:focus-visible #st-start-widget-grades-scroll-pagn {
    opacity: 1;
    transform: none;
}

#st-start-widget-digital-clock {
    padding: 0;
}

#st-start-widget-digital-clock-disclaimer {
    translate: 0 16px;
}

#st-start-widget-digital-clock-time {
    display: inline-block;
    justify-content: center;
    margin-block: 14px;
    min-height: 42px;
    width: 100%;
    font: 600 28px/42px var(--st-font-family-secondary);
    font-variant-numeric: tabular-nums lining-nums;
    text-align: center;
    overflow: hidden;
}

#st-start-widget-digital-clock-time:after {
    content: attr(data-time)
}

[data-render-type="Lijst"] #st-start-widget-digital-clock-time {
    margin-block: 20px;
}

#st-start-widget-digital-clock-wrapper {
    display: flex;
    gap: 3px;
    width: 100%;
    height: 5px;
    margin-top: -5px;
}

#st-start-widget-digital-clock-wrapper>div {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: var(--st-highlight-primary);
}

#st-start-widget-digital-clock-wrapper>div:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--progress) * 100%);
    background-color: var(--st-accent-primary);
}

#st-start-widget-digital-clock-wrapper>div[data-done=true]:after {
    background-color: var(--st-accent-primary-dark);
}

#st-start-widget-digital-clock:fullscreen {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: none;
    cursor: none;
    background-color: #000000;
}

#st-start-widget-digital-clock:fullscreen #st-start-widget-digital-clock-time {
    margin-block: auto;
    font-size: 15vh;
    line-height: normal;
    color: #ffffff;
    text-shadow: 0 0 3vh color-mix(in lch, #ffffffaa, var(--st-accent-primary) 70%);
}

#st-start-widget-digital-clock:fullscreen #st-start-widget-digital-clock-wrapper {
    height: 32px;
}

.st-widget-subitem {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-inline: 12px;
    padding-block: 8px;

    background-color: var(--st-background-tertiary);
    color: var(--st-foreground-primary);
    border: none;
    border-radius: var(--st-border-radius);
    font: 11px var(--st-font-family-secondary);
    cursor: pointer;
}

.st-widget-subitem[href]:hover {
    background-color: var(--st-highlight-primary);
}

.st-widget-subitem+.st-widget-subitem:before {
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--st-border-color);
}

.st-widget-subitem-row {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    width: 100%;
}

.st-widget-subitem-title {
    max-width: 60%;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 600 14px var(--st-font-family-secondary);
}

.st-widget-subitem-timestamp {
    text-align: end;
    font-weight: 600;
    color: var(--st-foreground-insignificant);
}

.st-widget-subitem-timestamp:after {
    content: attr(data-time);
}

.st-widget-subitem-content {
    max-height: 30px;
    overflow: hidden;
    color: var(--st-foreground-insignificant);
}

#st-start-widget-homework .st-widget-subitem-content p {
    color: var(--st-foreground-insignificant);
}

#st-start[data-widgets-collapsed=true] {
    grid-template:
        'header widgets' auto
        'schedule widgets' 1fr
        / 1fr 0px;
}

#st-start-edit-teachers {
    grid-template:
        '. . .' 1fr
        '. heading .' auto
        '. content .' auto
        '. . .' 1fr
        / 1fr auto 1fr;
    row-gap: 16px;
    column-gap: 24px;
}

#st-start-stats {
    grid-template:
        '. . . .' 1fr
        '. heading heading .' auto
        '. left right .' auto
        '. . . .' 1fr
        / 1fr auto auto 1fr;
    row-gap: 16px;
    column-gap: 24px;
}

@media (width < 900px) {
    #st-start-stats {
        grid-template:
            '. . .' 1fr
            '. heading .' auto
            '. left .' auto
            '. right .' auto
            '. . .' 1fr
            / 1fr auto 1fr;
        gap: 16px;
        padding: 0;
    }

    #st-start-edit-teachers {
        gap: 16px;
        padding: 0;
    }
}

#st-start-edit-teachers-wrapper {
    grid-area: content;
}

#st-start-edit-teachers-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(20, auto);
    column-gap: 32px;
}

#st-start-edit-teachers-list>div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
    width: 100%;
}

#st-start-edit-teachers-list>div>.st-input {
    height: auto;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 12px;
}

.st-overlay[id^="st-start"][open] {
    display: grid;
}

.st-overlay[id^="st-start"]>div:first-child {
    grid-area: heading;
    display: grid;
    grid-template:
        'title buttons' auto
        'subtitle subtitle' auto
        / 1fr auto;
}

.st-overlay[id^="st-start"]>div:first-child>.st-title {
    grid-area: title;
}

.st-overlay[id^="st-start"]>div:first-child>.st-subtitle {
    grid-area: subtitle;
}

.st-overlay[id^="st-start"]>div:first-child>.st-button,
.st-overlay[id^="st-start"]>div:first-child>.st-button-wrapper {
    grid-area: buttons;
}

#st-start-stats-teachers {
    grid-area: left;
    width: 100%;
    height: 100%;
}

#st-start-stats-classrooms {
    grid-area: right;
    width: 100%;
    height: 100%;
}

#st-start-stats-teacher-chart,
#st-start-stats-classroom-chart {
    --size: 256px;
}

@keyframes widgetsIn {
    0% {
        display: none;
    }

    1% {
        display: flex;
        translate: 400px;
    }

    100% {
        translate: 0;
    }
}

@keyframes widgetsOut {
    0% {
        translate: 0;
    }

    99% {
        display: flex;
        translate: 400px;
    }

    100% {
        display: none;
    }
}