name: Create beta release

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Indicate beta version
        run: |
          sed -i '3s/.*/"message": "Study Tools voor Magister BETA"/' _locales/nl/messages.json
          sed -i '3s/.*/"message": "Study Tools for Magister BETA"/' _locales/en/messages.json

      - name: Upload as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Beta release
          path: |
            _locales
            icons
            popup/dist
            src
            manifest.json
            updates.json
