name: Create releases

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Compress Chromium build
        run: |
          zip -r chromium.zip _locales icons popup/dist src manifest.json updates.json

      - name: Compress Firefox build
        run: |
          mv manifest.json manifest-chromium.json
          mv manifest-firefox.json manifest.json
          zip -r firefox.zip _locales icons popup/dist src manifest.json updates.json
          mv manifest.json manifest-firefox.json
          mv manifest-chromium.json manifest.json

      - name: Upload as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Releases
          path: |
            chromium.zip
            firefox.zip
